{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Solicitar Redefinição de Senha</title>
    <link rel="stylesheet" href="{% static 'core/dist/css/main.css' %}" />
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-8 bg-gray-200">
        <h1 class="text-2xl font-semibold mb-4">Solicitar Redefinição de Senha</h1>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Enviar</button>
        </form>
    </div>
</body>
</html>
