{% extends 'core/base.html' %} {% block head %}
<title>Gerar denúncia</title>
{% endblock %} {% block content %}
<h1 class="m-5 text-2xl font-bold">Gerar denúncia</h1>
<form
  action="{% url 'new_alert' %}"
  method="post"
  class="flex flex-col gap-3 px-6 py-1"
  x-data="{ alertTarget: '' }"
>
  {% csrf_token %}
  <div class="field">
    <label for="txt-title">Título</label>
    <input type="text" name="title" id="txt-title" maxlength="30"></input>
  </div>
  <div class="field">
    <label for="txt-tags" title="Lista separada por vírgulas text" class="decoration-dashed underline decoration-slate-700">Tags</label>
    <input type="text" name="tags" id="txt-tags" maxlength="50"></input>
  </div>
  <div class="field">
    <label for="txt-content">Descrição</label>
    <textarea name="content" id="txt-content" cols="50" rows="6"></textarea>
  </div>

  <label
    for="file-users"
    class="btn flex w-max cursor-pointer items-center gap-1"
  >
    <span>Anexar arquivo</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2.2"
      stroke="currentColor"
      class="h-5 w-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15m0-3l-3-3m0 0l-3 3m3-3V15"
      />
    </svg>
  </label>
  <input
    type="file"
    name="attachment"
    id="file-users"
    accept=".xls,.xlsx,.csv"
    @input="readFile"
    hidden
  />

  <div>
    <input type="submit" value="Enviar" class="btn px-16 font-semibold" />
  </div>
</form>
{% endblock %}
