{% extends 'core/base.html' %} {% block head %} {% load static %}
<title>Gerar denúncia</title>
<link rel="stylesheet" href="{% static 'core/dist/css/alert.css' %}" />
{% endblock %} {% block content %}
<main class="m-auto w-2/3">
  <h1 class="my-6 font-sans text-3xl font-bold text-color-primary">
    Reportar problema
  </h1>
  <form
    action="{% url 'alerts' %}"
    method="post"
    enctype="multipart/form-data"
    class="flex flex-col gap-3"
    x-data="{ alertTarget: '' }"
  >
    {% csrf_token %}
    <div class="tags">
      <label for="rd-teacher">
        <input type="radio" name="tag" id="rd-teacher" value="teacher" />
        <div>
          <span>🧑‍🏫</span>
          <span>Professor</span>
        </div>
      </label>
      <label for="rd-student">
        <input type="radio" name="tag" id="rd-student" value="student" />
        <div>
          <span>🧑‍🎓</span>
          <span>Aluno</span>
        </div>
      </label>
      <label for="rd-staff">
        <input type="radio" name="tag" id="rd-staff" value="staff" />
        <div>
          <span>🧑‍💼</span>
          <span>Funcionário</span>
        </div>
      </label>
      <label for="rd-repair">
        <input type="radio" name="tag" id="rd-repair" value="reapir" />
        <div>
          <span>🔧</span>
          <span>Conserto</span>
        </div>
      </label>
      <label for="rd-cleanup">
        <input type="radio" name="tag" id="rd-cleanup" value="cleanup" />
        <div>
          <span>🧹</span>
          <span>Limpeza</span>
        </div>
      </label>
      <label for="rd-other">
        <input type="radio" name="tag" id="rd-other" value="other" />
        <div>
          <span>👍</span>
          <span>Outro</span>
        </div>
      </label>
    </div>
    <div class="field">
      <label for="txt-content">Descrição</label>
      <textarea
        name="description"
        id="txt-content"
        cols="50"
        rows="6"
      ></textarea>
    </div>

    <div>
      <label for="attachment" class="file alt mr-4">
        <input
          type="file"
          name="attachment"
          id="attachment"
          accept="accept=image/*"
        />
        <span>Anexar arquivo</span>
      </label>
      <button type="submit" class="w-max self-center px-20">Enviar</button>
    </div>
  </form>
</main>
{% endblock %}
