{% extends 'core/base.html' %} {% block head %}
<title>Alertas</title>
<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("alert", () => ({
      seeDialog: false,
      imgUrl: "",
      info: "",
      date: "",

      fillIn(el) {
        this.seeDialog = true;
        this.imgUrl = el.querySelector("#img").textContent.trim();
        this.info = el.querySelector("#description").textContent.trim();
        this.date = el.querySelector("#date").textContent.trim();
      },
    }));
  });
</script>
{% endblock %} {% block content %}
<main class="flex-1 p-5">
  <h1 class="mb-3 font-sans text-3xl font-bold text-color-primary">
    Alertas
  </h1>

  <section class="mt-10 grid grid-cols-2 gap-10 divide-gray-600" x-data="alert">
    <ul class="flex flex-col gap-5">
      {% for alert in alerts %}
      <li
        class="rounded-lg border-2 border-slate-600 bg-color-bg-perfil p-5"
        @click="fillIn($el)"
      >
        <h3 class="text-slate-500">
          ({{ alert.tag }}) por {{ alert.emiter }} |
          <span id="date">{{ alert.date|date:'d/m/Y' }}</span>
        </h3>
        <p id="description" class="hidden">{{ alert.description }}</p>
        <span id="img" class="hidden">{% url 'img' 'alerts' 0 %}</span>
      </li>
      {% endfor %}
    </ul>

    <article>
      <p x-text="info"></p>
      <img :src="imgUrl" alt="imagem do alerta">
    </article>
  </section>
</main>
{% endblock %}
