{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'core/dist/css/main.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'core/images/logo.png' %}" />
    {% block head %}{% endblock %}
    <script defer src="{% static 'core/dist/js/page.js' %}"></script>
  </head>
  <body class="bg-cyan-400 flex">
    {% include "core/messages.html" %}
    {% include "core/navbar.html"%}
    <div class="">
      <img class="pt-11 h-80 w-24" src="../../static/core/images/plantas.png">
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
