{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'core/images/logo.png' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <!-- Alpine.js e plugin de máscara -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>

    <!-- Tippy.js -->
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css" />
    <script defer src="https://unpkg.com/@popperjs/core@2"></script>
    <script defer src="https://unpkg.com/tippy.js@6"></script>

    <!-- Script para inicializar os tooltips do Tippy -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        tippy('[data-tippy-content]', { placement: "right" });
      });
    </script>

    {% block head %}{% endblock %}
  </head>
  <body class="relative flex h-screen bg-color-bg" x-data="{ open: false }">
    {% include "core/messages.html" %}
    {% if not no_nav|default:False %}
      {% include "core/navbar.html" %}
    {% endif %}
    <div class="w-full overflow-y-scroll">
      {% if not no_nav|default:False %}
        {% include "core/header.html" %}
      <div class="pt-20 md:pt-24">
      {% else %}
      <div>
      {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>    
  </body>
</html>

