{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'core/dist/css/main.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'core/images/logo.png' %}" />
    {% block head %}{% endblock %}
    <script defer src="{% static 'core/dist/js/page.js' %}"></script>
  </head>
  <body class="bg-slate-100 flex flex-col h-screen dark:bg-slate-800 dark:text-slate-200 relative">
    {% include "core/messages.html" %}
    {% include "core/navbar.html" with no_nav=no_nav %}
    {% block content %}{% endblock %}
  </body>
</html>
