{% extends 'core/base.html' %}
{% load static %}
{% load demzer_tags %}
{% block head %}
  <title>Boletim</title>
  <link rel="stylesheet" href="{% static 'core/dist/css/boletim.css' %}" />
{% endblock %}

{% block content %}
<main class="px-4 sm:px-8 pb-10 w-full">
  <h1 class="my-6 sm:my-8 text-2xl sm:text-3xl font-semibold text-color-primary">Boletim</h1>

  <div class="flex flex-col sm:flex-row gap-4 sm:gap-12 ml-0 sm:ml-12 text-color-primary">
    <label>
      Curso:
      <select class="text-zinc-500">
        <option>{{ user.profile.classroom.course.name }}</option>
      </select>
    </label>

    <label>
      Ano/Módulo:
      <select class="text-zinc-500">
        <option>1º Ano</option>
        <option>2º Ano</option>
        <option>3º Ano</option>
      </select>
    </label>
  </div>

  <section class="box w-full overflow-x-auto mt-6">
    <table class="main-table border-separate border-spacing-2 min-w-[800px] w-full px-4">
      <thead>
        <tr class="text-sm sm:text-base">
          <th></th>
          <th>1 ºBim</th>
          <th>2 ºBim</th>
          <th>3 ºBim</th>
          <th>4 ºBim</th>
          <th>Final</th>
          <th>Conselho</th>
          <th></th>
          <th>Aulas</th>
          <th>Faltas</th>
          <th>Situação</th>
        </tr>
      </thead>
      <tbody>
        {% for s in subjects %}
        <tr class="text-sm sm:text-base">
          <td data-tippy-content="{{ s.name }}">{{ s }}</td>
          <td>{{ mentions|getsubj:s.pk|getbimester:1 }}</td>
          <td>{{ mentions|getsubj:s.pk|getbimester:2 }}</td>
          <td>{{ mentions|getsubj:s.pk|getbimester:3 }}</td>
          <td>{{ mentions|getsubj:s.pk|getbimester:4 }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <h2 class="text-2xl sm:text-3xl font-semibold text-color-primary mt-10">Total</h2>
  <section class="box grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-4 text-center w-full">
    <div class="flex flex-col gap-2">
      <span class="info bg-color-primary-dimm">Aulas Dadas</span>
      <span class="info bg-color-grey">222</span>
    </div>
    <div class="flex flex-col gap-2">
      <span class="info bg-color-primary-dimm">Faltas</span>
      <span class="info bg-color-grey">222</span>
    </div>
    <div class="flex flex-col gap-2">
      <span class="info bg-color-primary-dimm">Frequência</span>
      <span class="info bg-color-grey">222</span>
    </div>
    <div class="flex flex-col gap-2">
      <span class="info bg-color-primary-dimm">Faltas Permitidas</span>
      <span class="info bg-color-grey">222</span>
    </div>
  </section>

  <h2 class="text-2xl sm:text-3xl font-semibold text-color-primary mt-10 mb-4">
    Ficha de Desempenho - Sala de Aula
  </h2>
  <section class="box w-full p-4 text-center space-y-4">
    <div class="flex h-10 items-center justify-center rounded-3xl bg-color-secondary font-semibold text-sm md:text-base lg:text-2xl">
      <span>Ficha de Desempenho - Sala de Aula</span>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <div class="flex flex-col gap-3">
        <span class="info bg-color-primary-dimm text-white">Instrumento</span>
        <span class="info bg-color-grey">Questionário em grupo</span>
      </div>
      <div class="flex flex-col gap-3">
        <span class="info bg-color-primary-dimm text-white">Datas</span>
        <span class="info bg-color-grey">21/11/2023</span>
      </div>
      <div class="flex flex-col gap-3">
        <span class="info bg-color-primary-dimm text-white">Menção</span>
        <span class="info bg-color-grey">B</span>
      </div>
      <div class="flex flex-col gap-3">
        <span class="info bg-color-primary-dimm text-white">Observação</span>
        <span class="info bg-color-grey">-</span>
      </div>
    </div>
  </section>


</main>
{% endblock %}
