{% extends 'core/base.html' %} {% load static %} {% block head %}

<script defer src="{% static 'core/js/comunicados.js' %}"></script>

{% endblock %} {% block content %} 
<div class="flex justify-center md2:justify-normal md2:pl-5 min-h-full pt-20 md2:pt-16">
  <div class="text-[40px] text-color-txt-perfil font-semibold">
    <div class="grid grid-cols-2 md2:grid-rows-2">
    Comunicados
    
      <div class="flex justify-self-end md2:justify-self-start col-start-2 md2:col-start-1 md2:row-start-2 w-max text-color-txt-perfil">
        <button id="openComunicate"><!-- FOR OPEN CREATE COMUNICATE -->
          <label class="text-base"> Criar Comunicados </label>
        </button>

        <button id="openModalButton"> <!-- FOR OPEN FILTER -->
          <svg 
            xmlns="http://www.w3.org/2000/svg"
            fill="none" 
            viewBox="0 0 24 24" 
            stroke-width="1.5" 
            stroke="currentColor" 
            class="w-8 h-8"
            >
            <path 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" 
            />
          </svg>
        </button>
      </div>
    </div>
    <form><!-- FORM FOR CREATE COMUNICATE-->
      <div id="modalComunicate" class="hidden fixed inset-0 bg-black bg-opacity-25 justify-center items-center">
        <div class="w-[600px] h-[600px] bg-color-grey rounded-3xl">
          <div class="flex flex-row text-3xl font-bold mt-8 mx-10 justify-between">
            <div>Criar Comunicado</div>
            <div>
              <button id="closeModalButton" class="text-3xl font-bold text-color-txt-perfil">
                <svg 
                xmlns="http://www.w3.org/2000/svg" 
                fill="none" 
                viewBox="0 0 24 24" 
                stroke-width="1.5" 
                stroke="currentColor" 
                class="w-6 h-6">
                  <path 
                  stroke-linecap="round" 
                  stroke-linejoin="round" 
                  d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
          <div >
            <div class="flex flex-col text-lg font-normal px-12 pt-8">
              <label>Titulo do comunicado:</label>
              <input type="text" class="h-10" placeholder="Digite aqui!">
            </div>
            <div class="flex flex-row text-lg font-normal px-12 pt-8">
              <label>Data de Lançamento: <input type="date"></label>
            </div>
            <div class="flex flex-col h-full text-lg font-normal px-12 pt-8">
              <label class="pb-2">Escreva o Comunicado:</label>
              <textarea class="h-[180px] w-full resize-none" placeholder="Digite o Comunicado aqui!"></textarea>
            </div>
            <div class="flex justify-center pt-6">
              <button type="submit" class="text-2xl font-bold text-color-dark-orange hover:bg-color-hover border-color-dark-orange border-solid border-2 rounded-full h-12 w-32 transition">
                Aplicar
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <form> <!-- FORM FOR FILTER -->
      <div id="modal" class="hidden fixed inset-0 bg-black bg-opacity-25 justify-center items-center">
        <div class="w-[600px] h-[600px] bg-color-grey rounded-3xl">
          <div class="flex flex-row text-3xl font-bold mt-8 mx-10 justify-between">
            <div>Filtrar Comunicado</div>
            <div>
              <button id="closeModalButton" class="text-3xl font-bold text-color-txt-perfil">
                <svg 
                xmlns="http://www.w3.org/2000/svg" 
                fill="none" 
                viewBox="0 0 24 24" 
                stroke-width="1.5" 
                stroke="currentColor" 
                class="w-6 h-6">
                  <path 
                  stroke-linecap="round" 
                  stroke-linejoin="round" 
                  d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>

          <div class="flex flex-row pb-10 pt-8 justify-center">
            <div class="relative">
              <button type="button" class="absolute inset-y-0 left-0 flex items-center pt-5 pl-3">
                <svg 
                xmlns="http://www.w3.org/2000/svg" 
                fill="none" 
                viewBox="0 0 24 24" 
                stroke-width="1.5" 
                stroke="currentColor" 
                class="w-6 h-6">
                  <path 
                  stroke-linecap="round" 
                  stroke-linejoin="round" 
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
              </button>
              <input type="text" class="bg-gray-50 border border-color-txt-perfil text-gray-900 text-sm rounded-lg w-96 pl-10">
            </div>
            <div class="relative">
              <button type="reset" class="absolute inset-y-0 right-0 flex items-center pt-5 pr-3">
                <svg 
                xmlns="http://www.w3.org/2000/svg" 
                fill="none" 
                viewBox="0 0 24 24" 
                stroke-width="1.5" 
                stroke="currentColor" 
                class="w-6 h-6">
                  <path 
                  stroke-linecap="round" 
                  stroke-linejoin="round" 
                  d="M6 18L18 6M6 6l12 12" />
                </svg>              
              </button>
            </div>
          </div>
          <div class="flex flex-row justify-between px-16 text-lg font-normal">
            <label>De: <input type="date" class="rounded-3xl border-color-txt-perfil"></label>
            <label>Até: <input type="date" class="rounded-3xl border-color-txt-perfil"></label>
          </div>
          <div class="flex flex-col space-y-5 text-lg font-normal w-full pl-16 pt-10">
            <label><input type="checkbox" class="h-5 w-5 border-color-txt-perfil rounded-full transition"> Palestras </label>
            <label><input type="checkbox" class="h-5 w-5 border-color-txt-perfil rounded-full transition"> Eventos </label>
            <label><input type="checkbox" class="h-5 w-5 border-color-txt-perfil rounded-full transition"> Reuniões </label>
            <label><input type="checkbox" class="h-5 w-5 border-color-txt-perfil rounded-full transition"> Outros </label>
          </div>
          <div class="flex flex-row justify-center space-x-5 text-lg pt-10">
            <button type="reset" class="font-bold text-color-dark-orange hover:bg-color-hover border-color-dark-orange border-solid border-2 rounded-full py-1 px-12 transition">
              Limpar
            </button>
            <button type="submit" class="font-bold text-color-dark-orange hover:bg-color-hover border-color-dark-orange border-solid border-2 rounded-full py-1 px-12 transition">
              Aplicar
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="grid grid-cols-2 md2:grid-cols-1 ultrawide:grid-cols-8 ultrawide:mx-4 gap-16 pt-14 sm:ml-4 sm2:ml-0" :class="open ? 'gap-x-40' : ''">
      <div class="h-[300px] w-[350px] rounded-2xl shadow-xl bg-color-bg-perfil">
          <img class="h-[178px] w-full rounded-2xl" src="{% static '/core/images/img1.jpeg' %}">
        <div class="ml-2">
          <label class="text-gray-500 font-normal text-xs text-right"> 08/11/2005 </label><!--Here we need to put a date when the communicate was registered-->
          <p class="text-black font-bold text-base">asdasdas</p>
        </div>
      </div>
      <div class="h-[300px] w-[350px] rounded-2xl shadow-xl bg-color-bg-perfil">
          <img class="h-[178px] w-full rounded-2xl" src="{% static '/core/images/img1.jpeg' %}">
        <div class="ml-2">
          <label class="text-gray-500 font-normal text-xs text-right"> 08/11/2005 </label> <!--Here we need to put a date when the communicate was registered-->
          <p class="text-black font-bold text-base">asdasdas</p>
        </div>
      </div>
      <div class="h-[300px] w-[350px] rounded-2xl shadow-xl bg-color-bg-perfil">
          <img class="h-[178px] w-full rounded-2xl" src="{% static '/core/images/img1.jpeg' %}">
        <div class="ml-2">
          <label class="text-gray-500 font-normal text-xs text-right"> 08/11/2005 </label> <!--Here we need to put a date when the communicate was registered-->
          <p class="text-black font-bold text-base">asdasdas</p>
        </div>
      </div>

    </div>
  </div>
</div>



{% endblock %}
