{% extends 'core/base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'management/dist/css/dashboard.css' %}"
/>
<script>
  var urls = {
    // {% comment %} # TODO: Doesn't work. Use data- attributes
    // students: "{% url 'management/query/students' %}",
    // teachers: "{% url 'management/query/teachers' %}",
    // courses: "{% url 'management/query/courses' %}",
    // classrooms: "{% url 'management/query/classrooms' %}",
    // {% endcomment %}
    students: "{% url 'management/students' %}",
    teachers: "{% url 'management/students' %}",
    courses: "{% url 'management/students' %}",
    classrooms: "{% url 'management/students' %}",
  };
</script>
<script defer src="{% static 'core/js/dashboard.js' %}"></script>
{% endblock %} {% block content %}
<main x-data="dashboard">
  <h1 class="m-5 text-2xl font-bold">Dashboard</h1>
  <header id="sectors" class="bg-slate-300 p-5">
    {% csrf_token %}
    <ul id="sectors" class="flex select-none gap-4">
      <li data-url="{% url 'query/students' %}" data-section="students" @click="reload">Alunos</li>
      <li data-section="teachers" @click="reload">Professores</li>
      <li data-section="courses" @click="reload">Cursos</li>
      <li data-section="classrooms" @click="reload">Turmas</li>
    </ul>
  </header>
  <section class="p-5">
    <h2 x-text="active" class="mb-4 text-xl font-semibold"></h2>
    <table>
      <thead>
        <tr>
          <template x-for="header in headers">
            <td x-text="header"></td>
          </template>
        </tr>
      </thead>
    </table>
  </section>
</main>
{% endblock %}
