
{% extends 'core/base.html' %} {% load static %} {% block head %}
<script src="{% static 'core/js/dashboard.js' %}"></script>
<link rel="stylesheet" href="{% static 'core/dist/css/dashboard.css' %}" />
{% endblock %} {% block content %}
<main x-data="dashboard">
  <h1 class="m-5 text-2xl font-bold">Dashboard</h1>
  <header id="sectors" class="bg-slate-300 p-5">
    {% csrf_token %}
    <ul id="sectors" class="flex select-none gap-4">
      <li
        @click="reload('students', 'Alunos', `{% url 'query/students' %}`)"
        x-init="reload('students', 'Alunos', `{% url 'query/students' %}`)"
      >
        Alunos
      </li>
      <li data-section="teachers" @click="reload">Professores</li>
      <li data-section="courses" @click="reload">Cursos</li>
      <li data-section="classrooms" @click="reload">Turmas</li>
    </ul>
  </header>
  <section class="p-5">
    <h2 x-text="active" class="mb-4 text-xl font-semibold"></h2>
    <table>
      <thead>
        <tr>
          <template x-for="header in headers">
            <td x-text="header"></td>
          </template>
        </tr>
      </thead>
      <tbody>
        <template x-for="row in rows">
          <tr>
            <template x-for="value in row">
              <td x-text="value"></td>
            </template>
          </tr>
        </template>
      </tbody>
    </table>
  </section>
</main>
{% endblock %}
