{% extends 'core/base.html' %}
{% load static %}
{% block head %}
<script defer src="{% static 'core/js/enroll.js' %}"></script>
{% endblock %}
{% block content %}
<main class="py-9 px-6 flex-1">
  <h1 class="text-3xl font-sans font-bold mb-3">Matrícula</h1>
  <hr>
  <form
    action="{% url 'enroll' %}"
    method="POST"
    class="flex flex-col gap-3"
    @submit="submit"
    x-data="fields"
  >
    {% csrf_token %}
    <h2 class="text-2xl font-sans font-semibold">Identidade</h2>
    <div class="field">
      <label for="txt-username">Nome:</label>
      <input
        type="text"
        name="username"
        id="txt-username"
        maxlength="150"
        size="30"
        required
        x-model="name"
      />
      <label for="dt-nasc">Nascimento:</label>
      <input type="date" name="nasc" id="dt-nasc" value="{{ birthdate }}" required />
    </div>
    <div class="field">
      <label for="gender-box">Gênero:</label>
      <span id="gender-box" class="flex items-center">
        <input type="radio" name="gender" id="rd-masc" required checked />
        <label for="rd-masc">Masculino</label>
        <input type="radio" name="gender" id="rd-fem" />
        <label for="rd-fem">Feminino</label>
        <input type="radio" name="gender" id="rd-nb" />
        <label for="rd-nb">Não binário</label>
      </span>
    </div>
    <div class="field">
      <label for="txt-cpf">CPF:</label>
      <input type="number" name="cpf" id="txt-cpf" required x-model="cpf" size="13" />
      <label for="txt-rg">RG:</label>
      <input type="number" name="rg" id="txt-rg" required x-model="rg" size="11" />
    </div>
    <div class="field" x-data="{ check: false }">
      <label for="cb-afro">Afrodescendente:</label>
      <input type="checkbox" name="afro" id="cb-afro" x-model="check" />
      <span class="ml-1" x-text="check ? 'Sim' : 'Não'"></span>
    </div>
    <div class="field">
      <label for="sl-school">Escolaridade pública:</label>
      <select name="school" id="sl-school">
        <option value="C">Completo</option>
        <option value="B">Ensino Básico</option>
        <option value="F" selected>Ensino Fundamental</option>
        <option value="M">Ensino Médio</option>
        <option value="N">Nenhuma</option>
      </select>
    </div>
    <div class="field">
      <label for="nat-box">Naturalidade:</label>
      <span id="civil-box" class="flex items-center gap-1 ml-1">
        <input type="text" name="city" id="txt-city" value="{{ city }}" required />
        <select name="state" id="sl-state">
          <template x-for="code in [
            'RO','AC','AM','RR','PA','AP','TO','MA','PI',
            'CE','RN','PB','PE','AL','SE','BA','MG','ES',
            'RJ','SP','PR','SC','RS','MS','MT','GO','DF',
          ]">
            <option :value="code" :selected="code == '{{ state }}'" x-text="code"></option>
          </template>
          <option value=""></option>
        </select>
      </span>
    </div>
    <div class="field">
      <label for="txt-nation">Nacionalidade:</label>
      <input type="text" name="nation" id="txt-nation" value="Brasil" required/>
    </div>
    <div class="field">
      <label for="txt-origin">País de origem:</label>
      <input type="text" name="origin" id="txt-origin" value="Brasil" required />
    </div>
    <div class="field flex items-center">
      <label for="civil-box">Estado civíl:</label>
      <span id="civil-box" class="flex items-center">
        <input type="radio" name="civil" id="rd-single" required checked />
        <label for="rd-single">Solteiro</label>
        <input type="radio" name="civil" id="rd-maried">
        <label for="rd-maried">Casado</label>
        <input type="radio" name="civil" id="rd-divorced">
        <label for="rd-divorced">Divorciado</label>
        <input type="radio" name="civil" id="rd-widow">
        <label for="rd-widow">Viúvo</label>
      </span>
    </div>

    <hr>

    <h2 class="text-2xl font-sans font-semibold">Filiação</h2>
    <div class="field">
      <label for="txt-mom">Nome da mãe:</label>
      <input type="text" name="mom" id="txt-mom" size="30" required>
      <label for="tel-mom" class="ml-1">Telefone:</label>
      <input type="tel" name="tel-mom" id="tel-mom" size="11" x-mask="(99)99999-9999" required>
    </div>
    <div class="field">
      <label for="txt-mom">Nome do pai:</label>
      <input type="text" name="mom" id="txt-mom" size="30">
      <label for="tel-mom" class="ml-1">Telefone:</label>
      <input type="tel" name="tel-mom" id="tel-mom" size="11" x-mask="(99)99999-9999">
    </div>

    <hr>

    <h2 class="text-2xl font-sans font-semibold">Contato</h2>
    <div class="field">
      <label for="txt-email">Email:</label>
      <input type="email" name="email" id="txt-email" size="28" required>
      <label for="txt-cel">Celular:</label>
      <input type="tel" name="cel" id="txt-cel" x-mask="(99)99999-9999" size="10" required>
    </div>
    <div class="field">
      <label for="txt-cep">CEP:</label>
      <input type="number" name="cep" id="txt-cep" size="11" required x-ref="cep">
      <button
        class="bg-sky-600 dark:bg-sky-700 py-2 px-3 rounded"
        @click.prevent="() => fillCEP($refs.cep.value)"
      >
        Fill in
      </button>
    </div>
    <div class="field">
      <label for="txt-city">Cidade:</label>
      <input type="text" name="city" id="txt-city" x-model="city">
      <label for="txt-neighborhood">Bairro:</label>
      <input type="text" name="neighborhood" id="txt-txt-neighborhood" x-model="neighborhood">
    </div>
    <div class="field">
      <label for="txt-street">Rua:</label>
      <input type="text" name="street" id="txt-street" x-model="street">
      <label for="txt-street-number">Número:</label>
      <input type="number" name="street-number" id="txt-street-number" size="4">
    </div>
    <div class="field">
      <label for="txt-comp">Complemento:</label>
      <input type="text" name="complement" id="txt-comp" size="10">
      <label for="txt-distance">Distância:</label>
      <input type="number" name="distance" id="txt-distance" size="3">
    </div>

    <ul>
      <template x-for="err in errors">
        <li x-text="err"></li>
      </template>
    </ul>

    <input type="submit" class="bg-sky-600 dark:bg-sky-700" value="Enviar" />
  </form>
</main>
{% endblock %}
