{% extends 'core/base.html' %} {% load static %} {% load permission_tags %} {% block head %}


{% endblock %} {% block content %}

<div class="flex justify-center min-h-full pt-24">
  <div class="text-[30px] text-color-txt-perfil font-semibold w-[50%]">Eventos</div>
</div>

<div class>
  <div class="mr-8">
    <br><br>
<div class="bg-white max-w-xl mx-auto border border-black-200" x-data="{selected:1}">
		<ul class="shadow-box">
						
		<li class="relative border-b border-black-200">

			<button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 1 ? selected = 1 : selected = null">
				<div class="flex items-center justify-between">
					<span> Reunião de Pais e Responsáveis
          <br>25/11/2005</span>
					<span class="ico-plus"></span>
				</div>
			</button>

			<div class="relative overflow-hidden transition-all max-h-0 duration-500" style="" x-ref="container1" x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
				<div class="p-6">
					<p>Trazer sei lá o que, sei lá o que mais só para adicionar e ter mais cosia aqui, beijos flw</p>
				</div>
			</div>

		</li>
    </ul>

    <style>
      .max-h-0 {
      max-height: 0;
      }
    </style>

    
{% endblock %}


