{% extends 'core/base.html' %} {% load static %} {% load permission_tags %} {% block head %}
<script defer src="{% static 'core/js/dashboard.js' %}"></script>
<link rel="stylesheet" href="{% static 'core/dist/css/dashboard.css' %}" />
<title>Home</title>
{% endblock %} {% block content %}
<main class="m-8 mb-10 px-5">
  <h1 class="mb-4 text-xl font-bold text-color-primary">{{ day }}</h1>
  {% if user|has_role:'student' %}
  <h2 class="text-xl font-bold text-color-primary">
    Sua turma: {{ user.profile.classroom }}
  </h2>
  {% endif %}

  <div class="mt-8 flex justify-center md:mt-16">
    <div class="lg:h-96 lg:w-96 z-0 flex h-40 w-96 items-center justify-center">
      <div class="swiper mySwiper carousel1">
        <div class="swiper-wrapper">
          {% for prog in programmings %}
          <div class="swiper-slide justify-center">
            <section
              class="m-4 ml-14 w-8/12 rounded-xl bg-color-bg-perfil px-6 py-4 shadow"
            >
              <h2 class="mb-3 font-bold text-color-primary">
                {% if forloop.first %}Próxima Aula{% endif %}
                <span class="font-normal text-color-secondary">
                  (13:00 - 13:50)
                </span>
              </h2>
              <p>
                {{ prog.subject.name }}
                <br />
                {{ prog.teacher }}
              </p>
            </section>
          </div>
          {% empty %}
          <div class="swiper-slide justify-center">
            <section
              class="w-max rounded-xl bg-color-bg-perfil px-6 py-4 shadow"
            >
              <h2 class="text-gray-600">Sem aulas hoje :D</h2>
            </section>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
    <img
      src="{% static '/core/images/aluno.png' %}"
      class="mb-5 ml-10 hidden h-[300px] w-[380px] md:block"
    />
  </div>

  <h1 class="mb-10 mt-6 text-center text-[40px] font-bold md:text-left">
    Semana
  </h1>

  <div
    class="mb-6 mt-6 grid md:grid-cols-3 place-items-center gap-5 md:gap-10 md:mt-8"
  >
    {% for a in activities %}
    <div
      class="flex w-64 flex-col rounded-2xl bg-color-bg-lighter px-8 py-5 shadow"
    >
      <h3
        class="text-2xl text-color-primary text-center"
        data-tippy-content="{{ a.weekday }}"
      >
        {{ a.day|date:'d/m' }}
      </h3>
      <h4 class="mt-2 text-xl text-color-primary truncate min-h-[1.5em]">{{ a.title }}</h4>
      <p class="text-gray-500">
        Matéria: {{ a.subject.name }} {% if user|has_role:'teacher' %}
        <br />
        Turma: {{ a.classroom }} {% endif %}
      </p>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
