{% extends 'core/base.html' %} {% load static %} {% load permission_tags %} {% block head %}
<script defer src="{% static 'core/js/dashboard.js' %}"></script>
<link rel="stylesheet" href="{% static 'core/dist/css/dashboard.css' %}" />
<title>Home</title>
{% endblock %} {% block content %}
<main class="m-8 mb-10 px-5">
  <h1 class="mb-4 text-xl font-bold text-color-primary">{{ day }}</h1>
  {% if user|has_role:'student' %}
  <h2 class="text-xl font-bold text-color-primary">
    Sua turma: {{ user.profile.classroom }}
  </h2>
  {% endif %}

  <div class="mt-8 flex justify-center md:mt-16">
    <div class="lg:h-96 lg:w-96 flex h-40 w-96 items-center justify-center z-0">
      <div class="swiper mySwiper carousel1">
        <div class="swiper-wrapper">
          {% for prog in programmings %}
          <div class="swiper-slide justify-center">
            <section
              class="m-4 ml-14 w-8/12 rounded-xl bg-color-bg-perfil px-6 py-4 shadow"
            >
              <h2 class="mb-3 font-bold text-color-primary">
                {% if forloop.first %}Próxima Aula{% endif %}
                <span class="font-normal text-color-secondary">
                  (13:00 - 13:50)
                </span>
              </h2>
              <p>
                {{ prog.subject.name }}
                <br />
                {{ prog.teacher }}
              </p>
            </section>
          </div>
          {% empty %}
          <div class="swiper-slide justify-center">
            <section
              class="w-max rounded-xl bg-color-bg-perfil px-6 py-4 shadow"
            >
              <h2 class="text-gray-600">Sem aulas hoje :D</h2>
            </section>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
    <img
      src="{% static '/core/images/aluno.png' %}"
      class="mb-5 ml-10 hidden h-[300px] w-[380px] md:block"
    />
  </div>

  <h1 class="mb-10 mt-6 text-center text-[40px] font-bold md:text-left">
    Semana
  </h1>

  <div class="mb-6 mt-6 flex justify-center md:mt-8">
    <div
      class="lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-5 grid grid-cols-1 gap-10 md:grid-cols-3"
    >
      {% for a in activities %}
      <div
        class="flex h-[150px] w-[270px] flex-col items-center justify-center rounded-2xl bg-white px-4 py-8"
      >
        <div class="ml-2 leading-[30px]">
          <span class="text-[28px] font-normal text-color-primary">
            {{ a.day.day }} / {{ a.day.weekday }}
          </span>
          <br />
          {% if user|has_role:'teacher' %}
          <span class="text-left text-sm font-normal text-gray-500">
            {{ a.classroom }}
          </span>
          <br />
          {% endif %}
          <span class="text-left text-sm font-normal text-gray-500">
            {{ a.subject.name }}
          </span>
          <br />
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
