{% extends 'core/base.html' %} {% load static %} {% block head %}

<link rel="stylesheet" href="{% static 'core/dist/css/homeprofessores.css' %}" />

{% endblock %} {% block content %}
<main class="framed m-8 mb-20 px-5">
  <div class="flex justify-center mt-20">
    <div class="h-[300px] w-[450px]">
      <div class="swiper mySwiper carousel1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="flex justify-center px-10">
              <div class="flex-col h-[300px] w-[350px] rounded-2xl bg-white px-6 py-10">
                <div class="ml-2 leading-10">
                  <span class="text-color-primary font-normal text-xl text-left">Próxima Aula</span>
                  <span class="text-color-secondary font-normal text-xl text-left">(13:00-13:50)</span><br>
                  <span class="text-color-primary font-bold uppercase text-xl">Sex, 05 de Maio</span><br>
                  <span class="text-color-secondary font-normal text-sm text-left">Fundamentos da Informática</span><br>
                  <span class="text-color-secondary font-normal text-sm text-left">3º Desenvolvimento de Sistemas</span><br>
                  <span class="text-color-secondary font-normal text-sm text-left">Lab 30 - Área de Informática</span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="flex justify-center px-10">
              <div class="flex-col h-[300px] w-[350px] rounded-2xl bg-white px-6 py-10">
                <div class="ml-2 leading-10">
                  <span class="text-color-primary font-normal text-xl text-left">Próxima Aula</span>
                  <span class="text-color-secondary font-normal text-xl text-left">(13:00-13:50)</span><br>
                  <span class="text-color-primary font-bold uppercase text-xl">Sex, 05 de Maio</span><br>
                  <span class="text-color-secondary font-normal text-sm text-left">Fundamentos da Informática</span><br>
                  <span class="text-color-secondary font-normal text-sm text-left">3º Desenvolvimento de Sistemas</span><br>
                  <span class="text-color-secondary font-normal text-sm text-left">Lab 30 - Área de Informática</span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="flex justify-center px-10">
              <div class="flex-col h-[300px] w-[350px] rounded-2xl bg-white px-6 py-10">
                <div class="ml-2 leading-10">
                  <span class="text-color-primary font-normal text-xl text-left">Próxima Aula</span>
                  <span class="text-color-secondary font-normal text-xl text-left">(13:00-13:50)</span><br>
                  <span class="text-color-primary font-bold uppercase text-xl">Sex, 05 de Maio</span><br>
                  <span class="text-color-secondary font-normal text-sm text-left">Fundamentos da Informática</span><br>
                  <span class="text-color-secondary font-normal text-sm text-left">3º Desenvolvimento de Sistemas</span><br>
                  <span class="text-color-secondary font-normal text-sm text-left">Lab 30 - Área de Informática</span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="flex justify-center px-10">
              <div class="flex-col h-[300px] w-[350px] rounded-2xl bg-white px-6 py-10">
                <div class="ml-2 leading-10">
                  <span class="text-color-primary font-normal text-xl text-left">Próxima Aula</span>
                  <span class="text-color-secondary font-normal text-xl text-left">(13:00-13:50)</span><br>
                  <span class="text-color-primary font-bold uppercase text-xl">Sex, 05 de Maio</span><br>
                  <span class="text-color-secondary font-normal text-sm text-left">Fundamentos da Informática</span><br>
                  <span class="text-color-secondary font-normal text-sm text-left">3º Desenvolvimento de Sistemas</span><br>
                  <span class="text-color-secondary font-normal text-sm text-left">Lab 30 - Área de Informática</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
     </div> 
    <div><img src="{% static '/core/images/bg-professores.png' %}" class="mb-5 h-[300px] w-[380px] ml-10 hidden md:block " /></div>
  </div>
  <h1 class="text-color-primary font-bold text-[40px] text-left mt-16 ml-10 mb-10">Semana</h1>
  <div class="flex justify-center">
    <div class="h-[400px] w-[90%] ">
      <div class="swiper mySwiper carousel2">
        <div class="swiper-wrapper px-12">
          <div class="swiper-slide">
            <div class="flex-col h-[150px] w-[270px] rounded-2xl bg-white px-6 py-3">
              <span class="text-color-primary font-normal  text-[28px]">22 | Seg</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">Fundamentos da Informática</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">3º Desenvolvimento de Sistemas</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="flex-col h-[150px] w-[270px] rounded-2xl bg-white px-6 py-3">
              <span class="text-color-primary font-normal  text-[28px]">23 | Ter</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">Fundamentos da Informática</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">3º Desenvolvimento de Sistemas</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="flex-col h-[150px] w-[270px] rounded-2xl bg-white px-6 py-3">
              <span class="text-color-primary font-normal  text-[28px]">24 | Qua</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">Fundamentos da Informática</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">3º Desenvolvimento de Sistemas</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="flex-col h-[150px] w-[270px] rounded-2xl bg-white px-6 py-3">
              <span class="text-color-primary font-normal  text-[28px]">25 | Qui</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">Fundamentos da Informática</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">3º Desenvolvimento de Sistemas</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="flex-col h-[150px] w-[270px] rounded-2xl bg-white px-6 py-3">
              <span class="text-color-primary font-normal  text-[28px]">26 | Sex</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">Fundamentos da Informática</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">3º Desenvolvimento de Sistemas</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="flex-col h-[150px] w-[270px] rounded-2xl bg-white px-6 py-3">
              <span class="text-color-primary font-normal  text-[28px]">27 | Sab</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">Fundamentos da Informática</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">3º Desenvolvimento de Sistemas</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="flex-col h-[150px] w-[270px] rounded-2xl bg-white px-6 py-3">
              <span class="text-color-primary font-normal  text-[28px]">28| Dom</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">Fundamentos da Informática</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">3º Desenvolvimento de Sistemas</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="flex-col h-[150px] w-[270px] rounded-2xl bg-white px-6 py-3">
              <span class="text-color-primary font-normal  text-[28px]">29 | Seg</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">Fundamentos da Informática</span><br>
              <span class="text-gray-500 font-normal text-sm text-left">3º Desenvolvimento de Sistemas</span>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>

 <!-- <div class="swiper-slide">
    <div class="flex-col h-[150px] w-[200px] rounded-2xl bg-white"></div>
  </div>-->
</main>
{% endblock %}
