{% extends 'core/base.html' %} {% load static %} {% block head %}

{% endblock %} {% block content %} 
<div class="flex justify-center min-h-full pt-24">
<div class="text-[30px] text-color-txt-perfil font-semibold w-[50%]"> Horário de Aulas </div>
</div>

<label class="flex text-color-txt-perfil text-lg pl-40 pt-14 pb-6"> Tarde - Desenvolvimento de Sistemas (P-Tech) </label>
    <div class="flex justify-center">
        <div class="grid grid-cols-10 gap-10">
          <div class="col-span-6 col-start-2 h-auto w-max rounded-3xl bg-color-boletim">
            <table class=" border-separate border-spacing-3 pl-2">
              <thead>
                  <tr>
                    <th class="bg-color-boletim rounded-l-3xl text-center"></th> <!-- empty -->
                    <th class="bg-color-dark-orange p-3 rounded-xl w-40"> Segunda </th>
                    <th class="bg-color-dark-orange p-3 rounded-xl w-40"> Terça   </th>
                    <th class="bg-color-dark-orange p-3 rounded-xl w-40"> Quarta  </th>
                    <th class="bg-color-dark-orange p-3 rounded-xl w-40"> Quinta  </th>
                    <th class="bg-color-dark-orange p-3 rounded-xl w-40"> Sexta   </th>
                  </tr>
              </thead>
              <tbody >
                <tr>
                  <td class="bg-color-name-boletim rounded-xl text-white text-center">13h - 13h50</td>
                  <td class="bg-color-grey rounded-t-lg  border-none "></td>
                  <td class="bg-color-grey rounded-t-lg border-none"></td>
                  <td class="bg-color-grey rounded-t-lg border-none"></td>
                  <td class="bg-color-grey rounded-t-lg border-none"></td>
                  <td class="bg-color-grey rounded-t-lg border-none"></td>
                </tr>
                <tr>
                    <td class="bg-color-name-boletim rounded-xl text-white text-center">13h50 - 14h40</td>
                    <td class="bg-color-grey rounded-t-lg border-none "></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                  </tr>
                  <tr>
                    <td class="bg-color-name-boletim rounded-xl text-white text-center">14h40 - 15h30</td>
                    <td class="bg-color-grey rounded-t-lg border-none "></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                  </tr>
                  <tr>
                    <td class="bg-color-name-boletim rounded-xl text-white text-center">15h50 - 16h40</td>
                    <td class="bg-color-grey rounded-t-lg border-none "></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                  </tr>
                  <tr>
                    <td class="bg-color-name-boletim rounded-xl text-white text-center">16h40 - 17h30</td>
                    <td class="bg-color-grey rounded-t-lg border-none "></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                  </tr>
                  <tr>
                    <td class="bg-color-name-boletim rounded-xl text-white text-center">17h30 - 18h20</td>
                    <td class="bg-color-grey rounded-t-lg border-none "></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<label class="flex text-color-txt-perfil text-lg pl-40 pt-14 pb-6"> Noite - Automação </label>
    <div class="flex justify-center pb-40">
        <div class="grid grid-cols-10 gap-10">
          <div class="col-span-6 col-start-2 h-auto w-max rounded-3xl bg-color-boletim">
            <table class=" border-separate border-spacing-3 pl-2">
              <thead>
                  <tr>
                    <th class="bg-color-boletim rounded-l-3xl text-center"></th> <!-- empty -->
                    <th class="bg-color-dark-orange p-3 rounded-xl w-40"> Segunda </th>
                    <th class="bg-color-dark-orange p-3 rounded-xl w-40"> Terça   </th>
                    <th class="bg-color-dark-orange p-3 rounded-xl w-40"> Quarta  </th>
                    <th class="bg-color-dark-orange p-3 rounded-xl w-40"> Quinta  </th>
                    <th class="bg-color-dark-orange p-3 rounded-xl w-40"> Sexta   </th>
                  </tr>
              </thead>
              <tbody >
                <tr>
                  <td class="bg-color-name-boletim rounded-xl text-white text-center">19h - 19h50</td>
                  <td class="bg-color-grey rounded-t-lg  border-none "></td>
                  <td class="bg-color-grey rounded-t-lg border-none"></td>
                  <td class="bg-color-grey rounded-t-lg border-none"></td>
                  <td class="bg-color-grey rounded-t-lg border-none"></td>
                  <td class="bg-color-grey rounded-t-lg border-none"></td>
                </tr>
                <tr>
                    <td class="bg-color-name-boletim rounded-xl text-white text-center">19h50 - 20h40</td>
                    <td class="bg-color-grey rounded-t-lg border-none "></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                  </tr>
                  <tr>
                    <td class="bg-color-name-boletim rounded-xl text-white text-center">21h00 - 21h50</td>
                    <td class="bg-color-grey rounded-t-lg border-none "></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                  </tr>
                  <tr>
                    <td class="bg-color-name-boletim rounded-xl text-white text-center">21h50 - 22h40</td>
                    <td class="bg-color-grey rounded-t-lg border-none "></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                    <td class="bg-color-grey rounded-t-lg border-none"></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
  .w-40 {
  width: 10rem;
  }
</style>
{% endblock %}