{% extends 'core/base.html' %}
{% block content %}
<form class="form">
  <h1 class="text-2xl font-bold mb-2">Bem vindo</h1>
  <h2 class="text-lg">Entre com sua conta escolar</h2>
  <div class="field">
    <span class="icon">
      <ion-icon name="mail-outline"></ion-icon>
    </span>
    <input type="email" placeholder=" " required class="invalid:text-red-600 duration-700" />
    <label>Email</label>
  </div>

  <div class="field">
    <span class="icon">
      <ion-icon name="lock-closed-outline"></ion-icon>
    </span>
    <input type="password" placeholder=" " required />
    <label>Senha</label>
  </div>

  <a href="#" class="hover:underline underline-offset-2">Esqueceu sua senha?</a>
  <button type="submit" class="bg-blue-950 mt-2 h-12 text-gray-200 rounded-xl font-semibold">Entrar</button>
</form>
{% endblock %}
