{% extends 'core/base.html' %} {% load static %} {% block head %}
<script defer>
  function onInit() {
    const failed = Boolean(location.pathname.split("login/")[1][0]);
    const attempts = Number(localStorage.getItem("attempts")) ?? 0;
    const total = attempts + failed;
    localStorage.setItem("attempts", total);

    if (total < 3) return;
    if (total == 3)
      localStorage.setItem("locked", String(new Date().getMinutes()));

    const lastLock = localStorage.getItem("locked");
    const timeDiff = Math.abs(new Date().getMinutes() - lastLock);

    if (lastLock === null || timeDiff > 15) {
      localStorage.clear();
      return;
    }

    alert("Espere até 15 minutos para tentar um login novamente");
  }
</script>
{% endblock %} {% block content %}
<main
  class="w-full h-full bg-gradient-to-br from-cyan-500 to-sky-600 p-5 sm:p-9"
  x-init="onInit()"
>
  <section
    class="w-full h-full bg-slate-100 dark:bg-slate-800 rounded-3xl shadow-sm shadow-slate-800 sm:flex justify-between relative"
  >
    <form
      action="{% url 'login' %}"
      method="POST"
      class="py-14 px-8 sm:p-14 flex flex-col items-center"
    >
      {% csrf_token %}
      <header class="flex gap-4 items-center mb-6">
        <img
          src="{% static 'core/images/logo.png' %}"
          alt="logo"
          class="h-24"
        />
        <div>
          <h1 class="text-3xl font-sans font-bold">Login</h1>
          <h2 class="text-lg font-sans">
            Entre com seu <br class="hide sm:block md:hidden" />
            ID e senha
          </h2>
        </div>
      </header>
      <div class="flex flex-col justify-center sm:block">
        <div class="flex flex-col gap-1 mb-3">
          <label for="school-code">Código da escola:</label>
          <!-- TODO: Add a pop-up that helps find their school -->
          <input type="number" name="school-code" id="school-code" required />
        </div>
        <div class="flex flex-col gap-1 mb-3">
          <label for="user-id">ID:</label>
          <input type="text" name="user-id" id="user-id" required />
        </div>
        <div class="flex flex-col gap-1 mb-3">
          <label for="password">Senha:</label>
          <input type="password" name="password" id="password" required />
        </div>

        <div class="flex flex-col md:block">
          <a href="new_password" class="text-sky-700 dark:text-sky-500"
            >Enqueci a senha</a
          >
          <br />
          <input
            type="submit"
            value="Entrar"
            class="bg-amber-400 dark:bg-amber-500 dark:text-black py-2 px-5 mt-4 rounded-2xl md:rounded-md hover:shadow-md cursor-pointer sm:rounded-3xl sm:"
          />
        </div>
      </div>
    </form>
    <aside
      class="bg-gray-200 dark:bg-slate-700 rounded-3xl w-1/2 hidden sm:block"
    ></aside>
    <img
      src="{% static 'core/images/desenho.png' %}"
      alt="lineart de alunos em sala de aula"
      class="w-4/6 sm:w-1/2 absolute bottom-0 right-10 hidden sm:block"
    />
  </section>
</main>
{% endblock %}
