{% if not no_nav|default:False %}
<nav class="bg-slate-600">
  <div class="h-auto w-60 px-3 py-4 z-10">
    <header>
      <div>
        <h1>Menu</h1>
      </div>

      <div>
        <span class="name">{{ user.username.split.0 }}{{ user.username.split.1 }}</span>
        <span class="school">{{ school_name }}</span>
      </div>
    </header>

    <div class="menu">
      <li class="">
        <a href="#">
          <i class='bx-home-alt icon'></i>
          <span class="text">Dashboard</span>
        </a> 
      </li>
    </div>
  </div>
</nav>
{% endif %}
