<nav class="p-4 bg-slate-300 dark:bg-cyan-900 flex justify-between">  
  {% if not no_links|default:False %}
    <ul class="list-none flex text-yellow-500">
      <li id="home-icon">
        <a href="">
          <box-icon name="user"></box-icon>
        </a>
      </li>
      <li>
        <a href="">
          <box-icon name="home-alt"></box-icon>
        </a>
      </li>
      <li>
        <a href="">
          <box-icon name="message-square-dots"></box-icon>
        </a>
      </li>
      <li>
        <a href="">
          <box-icon name=""></box-icon>
        </a>
      </li>
    </ul>
  {% else %}
    <div></div>
  {% endif %}
  
  <span class="text-lg font-semibold">
    {{ school_name }}
  </span>

  {% if user.is_authenticated %}
    <header>
      <!-- TODO: icon here -->
      {{ user.username }}
    </header>
  {% else %}
    <div></div>
  {% endif %}
</nav>
