{% extends 'core/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'core/dist/css/profile.css' %}" />
<title>Perfil de {{ user.username.split.0 }}</title>
{% endblock %} {% block content %}
<main class="mb-10 px-8">
  <h1 class="pb-6 text-4xl font-bold text-color-primary">Perfil</h1>
  <section class="mb-8 flex">
    <img
      src="{% url 'pfp' user.pk %}"
      alt="Foto de perfil"
      class="h-36 w-36 cursor-pointer rounded-full border-[6px] border-color-primary"
    />
    <div class="pl-5">
      <h2 class="truncate text-xl font-semibold text-color-primary">
        {{ user.username }}
      </h2>
      <ul>
        <li><span class="info-lbl">RA:</span> {{ user.pk }}</li>
        <li><span class="info-lbl">E-mail:</span> {{ user.email }}</li>
        <li>
          <span class="info-lbl">Telefone:</span> {{ user.profile.phone }}
        </li>
      </ul>
    </div>
  </section>
  <article class="mb-2 grid grid-cols-2 gap-6">
    <section>
      <h2 class="text-xl font-semibold text-color-secondary">
        Informações Pessoais
      </h2>
      <ul class="info-card">
        <li>
          <span class="info-lbl">Nascimento:</span>
          {{ user.profile.birthdate|date:'d/m/Y' }}
        </li>
        <li><span class="info-lbl">CPF:</span> {{ user.profile.cpf }}</li>
        <li><span class="info-lbl">RG:</span> {{ user.profile.rg }}</li>
      </ul>
    </section>
    <section>
      <h2 class="text-xl font-semibold text-color-secondary">Senha</h2>
      <form class="info-card">
        calma lá vai ficar pronto
        <!-- TODO: formulário para trocar senha -->
      </form>
    </section>
  </article>
  <section>
    <h2 class="text-xl font-semibold text-color-secondary">Endereço</h2>
    <div class="info-card grid grid-cols-2">
      <ul>
        <li>
          <span class="info-lbl">Endereço:</span>
          <span>
            {{ user.profile.street }}, n° {{ user.profile.street_number }}
          </span>
        </li>
        <li>
          <span class="info-lbl">Complemento:</span>
          {% if user.profile.complement %}
          <span>{{ user.profile.complement }}</span>
          {% else %} ✖️ {% endif %}
        </li>
        <li>
          <span class="info-lbl">Bairro:</span> {{ user.profile.neighborhood }}
        </li>
      </ul>
      <ul>
        <li><span class="info-lbl">Cidade:</span> {{ user.profile.city }}</li>
        <li>
          <span class="info-lbl">UF:</span>
          <span>SP</span>
          <!-- TODO: add state field to member model -->
        </li>
        <li><span class="info-lbl">CEP:</span> {{ user.profile.cep }}</li>
      </ul>
    </div>
  </section>
</main>
{% endblock %}
