{% extends 'core/base.html' %} {% load static %} {% load permission_tags %} {% block head %}


{% endblock %} {% block content %}
<div class="flex justify-center min-h-full pt-24">
  <div class="text-[30px] text-color-primary font-semibold w-[50%]">Provas | Atividades</div>
  <div class="rounded-2xl border border-color-secondary p-1.5">
    <img
    src="{% static '/core/images/filter.png' %}"
    alt="Reunião"
    width="100"
    class="h-6 w-6 text-color-secondary"
    >
    <path
      class="color-secondary"
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5"
    />
  </img>
  </div>
</div>

<div class>
  <div class="mr-8">
    <br><br>
<div class="bg-white max-w-xl mx-auto border border-black-200" x-data="{selected:0}">
		<ul class="shadow-box">
						
		<li class="relative border-b border-black-200">

			<button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 1 ? selected = 1 : selected = null">
				<div class="flex items-center justify-between, text-[20px] text-color-primary font-semibold w-[70%]">
          <img
            src="{% static '/core/images/reuniao.jpg' %}"
            alt="Reunião"
            width="100"
          />
          <div>
					<b style="padding-left: 30px;"> Prova de História</b>
          
				<p class="text-color-secondary" style="padding-left: 30px;">25/11/2005 </p>
        
        </div>
      </div>
			</button>

			<div class="relative overflow-hidden transition-all max-h-0 duration-500" x-ref="container1" x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
				<div class="p-6">
          <table>
            <tr>
              <td class="text-color-secondary">
                <table style="width: 5px; padding:none;">
                  <tr>
                    <td style="color:rgb(230 168 46)">Bimestre:</td>
                    <td style="color:rgb(230 168 46)">1º Bim</td>
                  </tr>
                  <tr>
                    <td style="color:rgb(230 168 46)">Tipo:</td>
                    <td style="color:rgb(230 168 46)">Prova</td>
                  </tr>
                  <tr>
                    <td style="color:rgb(230 168 46)">Peso:</td>
                    <td style="color:rgb(230 168 46)">M1</td>
                  </tr>
                  <tr>
                    <td style="color:rgb(230 168 46)">Anexo:</td>
                    <td style="color:rgb(230 168 46)">geologia.pdf</td>
                  </tr>
                </table>
              <td>Estudar sobre a Primeira Guerra, período entre guerras e Segunda Guerra.</td>
            </tr>
          </table>
				</div>
			</div>

		</li>
    </ul>
    </div>
    </div>
</div>

<div class>
      <div class="mr-8">
        <br><br>
    <div class="bg-white max-w-xl mx-auto border border-black-200" x-data="{selected:0}">
        <ul class="shadow-box">
                
        <li class="relative border-b border-black-200">
    
          <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 1 ? selected = 1 : selected = null">
            <div class="flex items-center justify-between, text-[20px] text-color-primary font-semibold w-[70%]">
              <img
                src="{% static '/core/images/reuniao.jpg' %}"
                alt="Reunião"
                width="100"
              />
              <div>
              <b style="padding-left: 30px;"> Atividade de Redes</b>
              
            <p class="text-color-secondary" style="padding-left: 30px;">25/11/2005 </p>
            
            </div>
          </div>
          </button>
    
          <div class="relative overflow-hidden transition-all max-h-0 duration-500" x-ref="container1" x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
            <div class="p-6">
              <table>
                <tr>
                  <td class="text-color-secondary">
                    <table style="width: 5px; padding:none;">
                      <tr>
                        <td style="color:rgb(230 168 46)">Bimestre:</td>
                        <td style="color:rgb(230 168 46)">1º Bim</td>
                      </tr>
                      <tr>
                        <td style="color:rgb(230 168 46)">Tipo:</td>
                        <td style="color:rgb(230 168 46)">Atividade</td>
                      </tr>
                      <tr>
                        <td style="color:rgb(230 168 46)">Peso:</td>
                        <td style="color:rgb(230 168 46)">M2</td>
                      </tr>
                      <tr>
                        <td style="color:rgb(230 168 46)">Anexo:</td>
                        <td style="color:rgb(230 168 46)">redeseseustipos.ppt</td>
                      </tr>
                    </table>
                  <td>Estudar sobre redes e seus tipos, assunto dado em aula e revisado de acordo com ppt em anexo.</td>
                </tr>
              </table>
            </div>
          </div>
    
        </li>
        </ul>
        </div>
        </div>
</div>

<style>
    .max-h-0 {
    max-height: 0;
    }
    .max-w-xl {
    max-width: 60rem/* 576px */;
    }
    table, td{
      border: none;
      color: rgb(5 68 153);
      padding-left: 50px;
      text-align: left;
      vertical-align: top;
    }
    td{
      font-size: 19px;
      width: 550px;
    }
    .border {
    border-width: 1px;
    border-radius: 50px;
    }
	  .p-8{
		color: orange;
	  }
    .p-7{
		color: rgb(230 168 46);
	  }
    img{
      border-radius: 200px;
      height: 90px;
    }
    .rounded-2xl {
    border-radius: 50px/* 16px */;
    }
    .p-1\.5 {
    padding: 10px/* 6px */;
    }
</style>
{% endblock %}

