{% extends 'core/base.html' %} {% load static %} {% block head %}
<title>Área Secreta</title>
<link rel="stylesheet" href="{% static 'core/dist/css/enroll.css' %}" />
<script defer src="{% static 'core/js/enroll.js' %}"></script>
<script defer src="{% static 'core/js/secret.js' %}"></script>
{% endblock %} {% block content %}
<main class="framed m-8 p-7" x-data="{ confirmation: false }">
  <form
    action="{% url 'secret' %}"
    method="POST"
    class="flex flex-col gap-3"
    @submit="submit"
    x-data="fields"
  >
    <h1 class="mb-2 font-sans text-3xl font-bold">Conta administrativa</h1>
    {% csrf_token %}
    <section class="grid grid-cols-2 gap-4">
      <article>
        <h2 class="mb-2 font-sans text-2xl font-bold">Informações pessoais</h2>
        <div class="flex gap-3">
          <div class="field grow">
            <label for="txt-username">Nome</label>
            <input
              type="text"
              name="username"
              id="txt-username"
              maxlength="150"
              minlength="5"
              class="w-full"
              @keydown="validateName"
              required
            />
          </div>
          <div class="field">
            <label for="dt-birthdate">Nascimento</label>
            <input
              type="date"
              name="birthdate"
              id="dt-birthdate"
              value="{{ birthdate|date:'Y-m-d' }}"
              :max="new Date().toISOString().split('T')[0]"
              required
            />
          </div>
        </div>
        <div class="flex gap-3">
          <div class="field flex-1">
            <label for="txt-cpf">CPF</label>
            <input
              type="text"
              name="cpf"
              id="txt-cpf"
              class="w-full"
              required
              x-model="cpf"
              x-mask="999.999.999-99"
            />
          </div>
          <div class="field flex-1">
            <label for="txt-rg">RG</label>
            <input
              type="text"
              name="rg"
              id="txt-rg"
              class="w-full"
              required
              x-model="rg"
              x-mask="99.999.999-9"
            />
          </div>
        </div>
        <div class="field mt-4">
          <label for="gender-box">Gênero:</label>
          <span id="gender-box" class="flex items-center">
            <input
              type="radio"
              value="M"
              name="gender"
              id="rd-masc"
              required
              checked
            />
            <label for="rd-masc">Masculino</label>
            <input type="radio" value="F" name="gender" id="rd-fem" />
            <label for="rd-fem">Feminino</label>
            <input type="radio" value="NB" name="gender" id="rd-nb" />
            <label for="rd-nb">Não binário</label>
          </span>
        </div>
        <div class="field mt-4 flex items-center">
          <label for="civil-box">Estado civíl:</label>
          <span id="civil-box" class="flex items-center">
            <input
              type="radio"
              value="S"
              name="civil-state"
              id="rd-single"
              required
              checked
            />
            <label for="rd-single">Solteiro</label>
            <input type="radio" value="M" name="civil-state" id="rd-maried" />
            <label for="rd-maried">Casado</label>
            <input type="radio" value="D" name="civil-state" id="rd-divorced" />
            <label for="rd-divorced">Divorciado</label>
            <input type="radio" value="W" name="civil-state" id="rd-widow" />
            <label for="rd-widow">Viúvo</label>
          </span>
        </div>
        <div class="mt-4 flex items-center gap-1" x-data="{ check: false }">
          <label for="cb-afro">Afrodescendente:</label>
          <input
            type="checkbox"
            name="afro"
            id="cb-afro"
            x-model="check"
            aria-describedby="ch-afro-desc"
          />
          <span
            id="ch-afro-desc"
            class="ml-1"
            x-text="check ? '(Sim)' : '(Não)'"
          ></span>
        </div>
      </article>
      <article x-data="address">
        <h2 class="mb-2 font-sans text-2xl font-bold">Contato</h2>

        <div class="flex gap-3">
          <div class="field grow">
            <label for="txt-email">Email</label>
            <input
              type="email"
              name="contact-email"
              id="txt-email"
              class="w-full"
              required
            />
          </div>
          <div class="field">
            <label for="txt-phone">Celular</label>
            <input
              type="tel"
              name="phone"
              id="txt-phone"
              x-mask="(99)99999-9999"
              size="12"
              required
            />
          </div>
        </div>
        <div class="my-3 flex items-end gap-3">
          <div class="field">
            <label for="txt-cep">CEP</label>
            <input
              type="number"
              name="cep"
              id="txt-cep"
              size="11"
              required
              x-ref="cep"
              @keydown="validateNumber"
            />
          </div>
          <button class="btn block" @click.prevent="fillCEP($refs.cep.value)">
            Completar
          </button>
        </div>
        <div class="flex gap-3">
          <div class="field grow">
            <label for="txt-city">Cidade</label>
            <input
              type="text"
              name="residence-city"
              id="txt-city"
              class="w-full"
              x-model="city"
              required
            />
          </div>
          <div class="field grow">
            <label for="txt-neighborhood">Bairro</label>
            <input
              type="text"
              name="neighborhood"
              id="txt-txt-neighborhood"
              class="w-full"
              x-model="neighborhood"
              required
            />
          </div>
        </div>
        <div class="flex gap-3">
          <div class="field grow">
            <label for="txt-street">Rua</label>
            <input
              type="text"
              name="street"
              id="txt-street"
              class="w-full"
              x-model="street"
            />
          </div>
          <div class="field">
            <label for="txt-street-number">Número</label>
            <input
              type="number"
              name="street-number"
              id="txt-street-number"
              size="4"
              required
            />
          </div>
          <div class="field">
            <label for="txt-comp">Complemento</label>
            <input type="text" name="complement" id="txt-comp" size="8" />
          </div>
        </div>
        <button class="btn" @click.prevent="confirmation = true">
          Continuar
        </button>
      </article>
      <dialog
        :open="confirmation"
        class="rounded-xl py-5 px-8 shadow-lg border border-slate-400"
        @keydown.escape.window="confirmation = false"
      >
        <div x-data="dialog">
          <div class="field">
            <label for="txt-password">Senha</label>
            <input
              type="password"
              name="password"
              id="txt-password"
              x-model="password"
              required
            />
          </div>
          <div class="field mt-3">
            <label for="txt-duplicate">Confirme a senha</label>
            <input
              type="password"
              id="txt-duplicate"
              x-model="duplicate"
              required
            />
          </div>
          <ul class="my-2">
            <template x-for="check in checks">
              <li
                class="flex gap-2"
                :class="check.test(password, duplicate) ? 'text-lime-500' : 'text-red-500'"
              >
                <template x-if="check.test(password, duplicate)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                </template>
                <template x-if="!check.test(password, duplicate)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                </template>
                <span x-text="check.description"></span>
              </li>
            </template>
          </ul>
          <div class="field">
            <label for="txt-key">Chave de segurança</label>
            <input type="password" name="key" id="txt-key" required />
          </div>
          <div class="mt-3 flex gap-3">
            <button class="btn" type="submit">Confirmar</button>
            <button class="btn" @click.prevent="confirmation = false">
              Voltar
            </button>
          </div>
        </div>
      </dialog>
    </section>
  </form>
</main>
{% endblock %}
