{% extends 'core/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'core/dist/css/turmas.css' %}" />
<title>Turmas</title>
<script defer>
  document.addEventListener("alpine:init", () => {
    Alpine.data("turmas", () => ({
      students: [],
      createDialog: false,
      tab: 2,
      subject: '',
      division: '',

      getStudents(pk) {
        fetch(`{% url 'alunos' 0 %}`.replace("0", pk))
          .then((r) => r.json())
          .then((st) => (this.students = st.students));
      },
    }));
  });
</script>
{% endblock %} {% block content %}
<main class="mx-10 mb-20 mt-4 md:mx-14" x-data="turmas">
  <section x-show="createDialog" class="dialog-backdrop">
    <div class="dialog">
      <header>
        <h2>Marcar Avaliações</h2>
        <button
          @click.prevent="createDialog = false"
          class="text-3xl font-bold text-color-primary"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </header>
      <form class="flex w-full flex-col gap-4 p-3" action="{% url 'new_exercise' %}" method="POST">
        <div class="flex items-center gap-3">
          <div class="flex gap-1">
            <label for="txt-title">Título:</label>
            <input
              required
              maxlength="100"
              minlength="10"
              type="text"
              name="title"
              id="txt-title"
            />
          </div>
          <div class="flex gap-1"><label for="file-cover">Capa:</label>📎</div>
        </div>
        <div class="flex items-center gap-3">
          <label for="txt-desc">Descrição:</label>
          <textarea
            name="desc"
            id="txt-desc"
            cols="30"
            rows="3"
            required
            maxlength="500"
          ></textarea>
        </div>
        <div class="flex gap-3"></div>

        <div class="flex flex-col text-lg font-normal"></div>
        <div class="flex flex-row">
          <div class="flex w-full flex-col text-lg font-normal"></div>
          <div class="flex w-full flex-col text-lg font-normal">
            
          </div>
        </div>
        <div
          class="flex items-center gap-1 px-12 text-lg font-normal"
          x-data="{ anexoMencao: 'Anexo' }"
        >
          <label for="dt-until">Até:</label>
          <input
            id="dt-until"
            name="until"
            type="date"
            :value="new Date().toISOString().split('T')[0]"
            name="date"
          />
          <label
            for="file-picture"
            class="btn ml-3 flex w-max cursor-pointer items-center gap-1"
          >
            <span
              class="truncate"
              x-text="anexoMencao ?? 'Foto de perfil'"
            ></span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2.2"
              stroke="currentColor"
              class="h-5 w-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15m0-3l-3-3m0 0l-3 3m3-3V15"
              />
            </svg>
          </label>
          <input
            type="file"
            name="image"
            id="file-picture"
            accept="image/*"
            required
            hidden
            @input="imageName = $el.files[0].name"
          />
          <label>Tipo:</label>
            <select name="type" id="sl-type">
              <option>Atividade</option>
              <option>Prova</option>
            </select>
        </div>
        <div class="flex gap-3">
          <label>Peso:</label>
          <select name="Peso" class="h-10 w-36 rounded-full text-center">
            <option>M1</option>
            <option>M2</option>
            <option>M3</option>
            <option>M4</option>
          </select>
          <label for="sl-bim">Bimestre:</label>
          <select
            id="sl-bim"
            name="bimestre"
            class="mb-1 h-10 w-64 rounded-full text-center"
          >
            <option>1ºBimestre</option>
            <option>2ºBimestre</option>
            <option>3ºBimestre</option>
            <option>4ºBimestre</option>
          </select>
        </div>
        <input type="hidden" name="division" x-model="division">
        <input type="hidden" name="subject" x-model="subject">
        <button type="submit" class="self-center">Enviar</button>
      </form>
    </div>
  </section>

  <h1 class="text-center md:text-left">Turmas</h1>

  <!-- TODO: use a select for mobile smh -->
  <ul class="mt-10 flex gap-4">
    {% for c in classrooms %}
    <button class="alt px-5 py-3" @click="getStudents('{{ c.pk }}')">
      {{ c }}
      {% if forloop.first %}
      <i x-init="getStudents('{{ c.pk }}')"></i>
      {% endif %}
    </button>
    {% endfor %}
  </ul>

  <header id="menu">
    <div>
      <label for="sl-classroom">Turma:</label>
      <select name="classroom" id="sl-classroom" x-model="division">
        <option value="*">Todas</option>
        <option value="A">A</option>
        <option value="B">B</option>
      </select>
    </div>
    <div>
      <label for="">Aula:</label>
      <select name="subject" id="sl-subject" x-model="subject">
        {% for s in subjects %}
        <option value="{{ s.pk }}">{{ s }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="dt">Data:</label>
      <input
        type="date"
        name="dt"
        id="dt"
        :value="new Date().toISOString().split('T')[0]"
      />
    </div>
  </header>

  <nav class="my-4 flex gap-3" id="tabs">
    <button @click="tab = 1" :class="tab == 1 && 'border-color-primary'">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z"
        />
      </svg>
      <span>Notas</span>
    </button>
    <button @click="tab = 2" :class="tab == 2 && 'border-color-primary'">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z"
        />
      </svg>
      <span>Prova | Atividade</span>
    </button>
  </nav>

  <article x-show.transition.in.opacity.duration.750ms="tab == 1">
    <div class="my-5">
      <span class="text-xl font-semibold text-color-primary">Bimestre:</span>
      <select name="Bimestre" class="ml-3 rounded-full px-16 text-center">
        <option>1ºBimestre</option>
        <option>2ºBimestre</option>
        <option>3ºBimestre</option>
        <option>4ºBimestre</option>
      </select>
    </div>

    <div class="flex gap-8">
      <section class="overflow-y-scroll">
        <h2 class="mb-3 text-3xl text-color-secondary">Atribuir Notas</h2>
        <ul>
          <template x-for="s in students">
            <li class="mb-1 text-lg font-normal" x-text="s"></li>
          </template>
        </ul>
      </section>

      <section id="detail">
        <h2 class="mb-9 text-center text-3xl">Nome do Aluno Abençoado</h2>
        <div class="mx-7 mb-5 flex items-center justify-between gap-2">
          <label for="">Tarefa:</label>
          <select name="task">
            <option>Prova</option>
            <option>Atividade</option>
          </select>
        </div>
        <div class="mx-7 mb-5 flex items-center justify-between gap-2">
          <label for="">Nota:</label>
          <select name="val">
            <option>I</option>
            <option>R</option>
            <option>B</option>
            <option>MB</option>
          </select>
        </div>
        <div class="mx-7 mb-5 flex items-center justify-between gap-2">
          <label for="">Menções:</label>
          <select name="mention">
            <option>M1</option>
            <option>M2</option>
            <option>M3</option>
          </select>
        </div>
        <div class="field flex flex-row justify-center text-center">
          <div class="w-full">
            <span
              class="my-2 flex justify-center text-center text-xl text-color-secondary"
              >Justificativa</span
            >
          </div>
          <textarea
            id="reclamacao"
            name="reclamacao"
            class="h-80 w-full resize-none rounded border border-gray-300 px-4 py-2"
            placeholder="Digite sua reclamação aqui"
          ></textarea>
        </div>
        <div class="flex w-full flex-col gap-3 md:block md:gap-2">
          <button type="submit">Enviar</button>
        </div>
      </section>
    </div>

    <section class="mt-8 flex flex-col rounded-2xl bg-color-bg-lighter p-7">
      <header class="flex justify-between">
        <div class="flex gap-4">
          <h2 class="text-3xl text-color-secondary">Visão Geral</h2>
          <div
            class="flex flex-row rounded-full border-2 border-color-secondary px-4 py-1"
          >
            <span class="mr-2 hidden text-color-secondary sm:block"
              >Importar</span
            >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6 text-color-secondary"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15m0-3l-3-3m0 0l-3 3m3-3V15"
              />
            </svg>
          </div>
        </div>
        <span class="italic text-gray-500">
          Entrega de notas entre 23/06 e 27/06
        </span>
      </header>

      <div class="flex justify-center">
        <section class="box lg:w-max overflow-x-scroll">
          <table class="main-table border-separate border-spacing-3 px-2">
            <thead>
              <tr>
                <th><!-- empty --></th>
                <th>M1</th>
                <th>M2</th>
                <th>M3</th>
                <th>MF</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-tippy-content="">Giovanni de Pita Cicero</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </section>
  </article>

  <div x-show.transition.in.opacity.duration.750ms="tab == 2" class="p-4">
    <div
      class="mb-6 mt-4 flex w-full flex-row items-center justify-between text-center"
    >
      <select
        name="Bimestre"
        class="mr-1 h-10 w-64 rounded-full text-center md:mr-0"
      >
        <option>1ºBimestre</option>
        <option>2ºBimestre</option>
        <option>3ºBimestre</option>
        <option>4ºBimestre</option>
      </select>
      <button @click="createDialog = true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-10 w-10 text-color-primary"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- Fim Tabs -->
</main>
{% endblock %}
