:root {
  --fg-400: hsl(230, 38%, 13%);
  --fg-300: hsl(206, 44%, 15%);
  --fg-200: hsl(195, 29%, 19%);
  --fg-r-300: hsl(46, 46%, 88%);

  --font-round: "Poppins", "Gill Sans", "Trebuchet MS", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  background-color: var(--fg-200);
}

nav img {
  width: 3rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--fg-300);
  font-family: var(--font-round);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem 2.5rem;
}

form h1, h2, h3 {
  margin-block: auto 1rem;
}

.field {
  position: relative;
  width: 300px;
  height: 50px;
  border-bottom: 1px solid var(--fg-200);
  margin: 30px 0;
  transition: all 0.4s;
}

.field:focus-within {
  border-bottom-width: 3px;
  border-bottom-color: var(--fg-300);
}

.field label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 500;
  line-height: 1.1em;
  pointer-events: none;
  transition: 0.4s;
}

.field input:focus ~ label,
.field input:not(:placeholder-shown) ~ label {
  top: -5px;
}

.field input {
  width: 268px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.field .icon {
  position: absolute;
  right: 0.4em;
  font-size: 1.4em;
  color: var(--fg-300);
  line-height: 2.5em;
}

a {
  font-weight: 500;
  text-decoration: none;
}

form > a, form > button {
  display: block;
}

button {
  font-size: 1em;
  font-weight: 500;
  border: none;
  border-radius: 0.75em;
  cursor: pointer;
}

button[type=submit] {
  width: calc(100% - 2em);
}

/* smartphones */
@media (min-width: 20em) {
}

/* portrait tablets */
@media (min-width: 40em) {
  body {
    background-image: url(../images/classroom-bg.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }

  form {
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255 255 255 / 0.5);
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0 0 0 / 0.5);
  }
}
/* landscape tablet, laptops and desktops */
@media (min-width: 60em) {
}
