@import "npm:tippy.js/dist/tippy.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blueeslamaisclaro: #0f637c;
  --sidebar-color: #003e63;
  --hover-color: #002c49;
}

@layer base {
  nav box-icon {
    @apply w-auto px-8 hover:bg-sky-800;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply shadow-sm rounded-lg transition-all border
    focus-visible:outline-none focus:border-cyan-500 hover:border-cyan-500
  }

  [type='checkbox'], [type='radio'] {}
}
