{% extends 'core/base.html' %} {% block head %}
<title>Editor de cursos</title>
<script defer>
  document.addEventListener("alpine:init", () => {
    Alpine.data("dialogs", () => ({
      classroomDialog: false,
      deleteDialog: false,
      filterDialog: false,

      pk: 0,
      year: new Date().getFullYear(),
      course: "",

      clear() {
        this.classroomDialog = true;
        this.pk = 0;
        this.year = new Date().getFullYear();
        this.course = "";
      },
    }));
  });
</script>
{% endblock %} {% block content %}
<main class="flex flex-col gap-5 px-24 py-10" x-data="dialogs">
  <section x-show="classroomDialog" class="dialog-backdrop">
    <div class="dialog z-30">
      <h2 class="mb-3 text-xl font-semibold">Criar turma</h2>
      <form action="{% url 'classrooms' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="pk" x-model="pk" />
        <div class="input mt-2 flex gap-2">
          <select name="course" id="sl-course" required>
            {% for course in courses %}
            <option value="{{ course.pk }}">{{ course.slug }}</option>
            {% endfor %}
          </select>
          <input
            type="number"
            name="year"
            id="txt-year"
            size="6"
            x-model="year"
            required
          />
        </div>
        <div class="mt-3 flex gap-2">
          <button @click.prevent="classroomDialog = false" class="alt">
            Voltar
          </button>
          <button type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </section>

  <section x-show="filterDialog" class="dialog-backdrop">
    <form action="{% url 'classrooms' %}" class="dialog no_scroll">
      <header>
        <h2>Filtrar</h2>
        <button @click.prevent="filterDialog = false">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </header>
      <div class="flex gap-2 items-center">
        <label for="course">Curso:</label>
        <select name="course__pk" id="course" class="mr-2">
          {% for c in courses %}
          <option value="{{ c.pk }}">{{ c.slug }}</option>
          {% endfor %}
        </select>
        <label for="year">Ano:</label>
        <input type="number" name="year" id="year" min="2000" max="2050">
      </div>
      <div class="flex gap-4 justify-center mt-5">
        <a href="{% url 'classrooms' %}" class="alt">Limpar</a>
        <button type="submit">Aplicar</button>
      </div>
    </form>
  </section>

  <section class="dialog-backdrop" x-show="deleteDialog">
    <div class="dialog">
      <form
        action="{% url 'delete_classroom' %}"
        method="post"
        class="flex flex-col items-center gap-3"
      >
        {% csrf_token %}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-16 w-16 text-red-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
          />
        </svg>
        <p class="text-center">
          Cuidado! Isso pode <br />
          desalocar turmas e horários.
        </p>
        <input type="hidden" name="pk" x-model="pk" />
        <div class="flex gap-3">
          <button
            @click.prevent="deleteDialog = false"
            class="rounded-lg border border-slate-500 p-3"
          >
            Voltar
          </button>
          <button
            type="submit"
            class="rounded-lg border-0 bg-red-500 p-3 text-white"
          >
            Confirmar
          </button>
        </div>
      </form>
    </div>
  </section>
  <header class="mb-4 flex justify-between text-color-primary">
    <h1 class="mb-4 text-4xl font-semibold">Turmas</h1>
    <div class="flex gap-2">
      <button @click="clear()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-7 w-7"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </button>
      <button @click="filterDialog = true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-7 w-7"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75"
          />
        </svg>
      </button>
    </div>
  </header>
  
  <section class="grid grid-cols-3 gap-6">
    {% for classroom in classrooms %}
    <div
      class="relative flex flex-col gap-1 rounded-2xl bg-gray-100 p-4"
      x-data="{ options: false, details: false }"
    >
      <h2 class="mb-1 flex justify-between text-xl font-semibold">
        <span class="text-color-primary">{{ classroom }}</span>
        <button @click="options = !options">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6 rounded-full transition-all hover:bg-gray-300"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"
            />
          </svg>
        </button>
      </h2>
      <div>
        <span class="text-color-primary"> Turno: </span>
        <span class="text-color-secondary">
          {{ classroom.course.get_time_display }}
        </span>
      </div>
      <div>
        <span class="text-color-primary"> Coordenador: </span>
        <span class="text-ellipsis text-color-secondary">
          {{ classroom.course.coordinator }} ({{ classroom.course.coordinator.pk }})
        </span>
      </div>
      <div
        x-show="options"
        class="absolute right-3 top-10 flex flex-col items-start gap-2 rounded-lg border border-slate-400 bg-gray-100 p-3"
        :class="options && 'z-10'"
        @click.away="() => options = false"
      >
        <button
          class="hover:text-color-secondary"
          @click="() => {
            classroomDialog = true;
            course = '{{ classroom.course.slug }}';
            year = {{ classroom.year }};
            pk = '{{ classroom.pk }}';
          }"
        >
          Editar
        </button>
        <button
          class="hover:text-color-secondary"
          @click="() => { deleteDialog = true; pk = '{{ course.pk }}'}"
        >
          Excluir
        </button>
        <a
          href="{% url 'schedules' classroom.pk %}"
          class="hover:text-color-secondary"
        >
          Horários
        </a>
      </div>
    </div>
    {% empty %}
    <span class="w-max font-mono text-2xl font-medium text-slate-500">
      Nenhuma turma encontrada :(
    </span>
    {% endfor %} 
  </section>
</main>
{% endblock %}
