{% extends 'core/base.html' %} {% block head %}
<title>Editor de cursos</title>
<script defer>
  document.addEventListener("alpine:init", () => {
    Alpine.data("course", () => ({}));
  });
</script>
{% endblock %} {% block content %}
<main
  class="framed m-8 min-h-fit p-3"
  x-data="{ courseDialog: false, subjectDialog: false, importDialog: false }"
>
  <div class="flex mb-3">
    <aside class="w-1/6 border-r-gray-600">
      <table class="table-auto border-collapse border border-gray-600">
        <tbody>
          {% for course in courses %}
          <tr><td>{{ course.slug }}</td></tr>
          {% endfor %}
          <tr>
            <td class="border border-gray-400">
              <button class="flex items-center gap-1" @click="courseDialog = true">
                <span>Adicionar</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-5 w-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4.5v15m7.5-7.5h-15"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </aside>
    <article>
      {% if courses %} {% else %}
      <span class="font-mono text-2xl font-medium text-slate-500">
        Nenhum curso encontrado :(
      </span>
      {% endif %}
    </article>
    <dialog :open="courseDialog" class="rounded-lg shadow-lg">
      <form action="{% url 'courses_editor' %}" method="post">
        {% csrf_token %}
        <h2 class="text-xl font-bold">Novo curso</h2>
        <div class="field">
          <label for="txt-name">Nome</label>
          <input type="text" name="name" id="txt-name" required />
        </div>
        <div class="field">
          <label for="txt-slug">Código</label>
          <input type="text" name="slug" id="txt-slug" required />
        </div>
        <div class="field">
          <label for="bx-time">Horário</label>
          <div id="bx-time">
            <div>
              <input type="radio" name="time" id="rd-morning" value="M" />
              <label for="rd-morning">Manhã</label>
            </div>
            <div>
              <input type="radio" name="time" id="rd-evening" value="E" />
              <label for="rd-evening">Tarde</label>
            </div>
            <div>
              <input type="radio" name="time" id="rd-night" value="N" />
              <label for="rd-night">Noite</label>
            </div>
          </div>
        </div>
        <div class="field">
          <label for="txt-coordinator">Coordenador</label>
          <input type="text" name="coordinator" id="txt-coordinator" />
        </div>
        <div class="mt-3 flex gap-2">
          <button @click.prevent="courseDialog = false" class="btn">
            Voltar
          </button>
          <button type="submit" class="btn">Criar</button>
        </div>
      </form>
    </dialog>
    <dialog :open="subjectDialog" class="rounded-lg shadow-lg">
      <form action="{% url 'create_subject' %}" method="post">
        {% csrf_token %}
        <h2 class="text-xl font-bold">Nova matéria</h2>
        <div class="field">
          <label for="txt-name">Nome</label>
          <input type="text" name="name" id="txt-name" required />
        </div>
        <div class="field">
          <label for="txt-slug">Código</label>
          <input type="text" name="slug" id="txt-slug" required />
        </div>
        <div class="field">
          <label for="txt-desc">Descrição</label>
          <textarea
            name="description"
            id="txt-desc"
            cols="30"
            rows="4"
            maxlength="127"
          ></textarea>
        </div>
        <div class="mt-3 flex gap-2">
          <button @click.prevent="subjectDialog = false" class="btn">
            Voltar
          </button>
          <button
            @click.prevent="() => { subjectDialog = false; importDialog = true }"
            class="btn"
          >
            Importar
          </button>
          <button type="submit" class="btn">Criar</button>
        </div>
      </form>
    </dialog>
    <dialog :open="importDialog" class="rounded-lg shadow-lg">
      <form
        action="{% url 'create_subject' %}"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <h2 class="text-xl font-bold">Importar matérias</h2>
        <input type="hidden" name="import" />
        <label
          for="file-subj"
          class="btn flex w-max cursor-pointer items-center gap-1"
        >
          <span>Selecionar arquivo</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.2"
            stroke="currentColor"
            class="h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15m0-3l-3-3m0 0l-3 3m3-3V15"
            />
          </svg>
        </label>
        <input
          type="file"
          name="import_file"
          id="file-subj"
          accept=".xls,.xlsx,.csv"
          @input="readFile"
          hidden
        />
        <div class="mt-3 flex gap-2">
          <button @click.prevent="importDialog = false" class="btn">
            Voltar
          </button>
          <button type="submit" class="btn">Criar</button>
        </div>
      </form>
    </dialog>
  </div>
  <footer class="flex gap-2">
    <button class="btn" @click="subjectDialog = true">
      Adicionar matérias
    </button>
    <ul class="flex gap-2 text-slate-600">
      {% for subj in subjects %}
      <li class="rounded-lg bg-slate-300 p-2">
        <abbr title="{{ subj.name }}" class="decoration-transparent"
          >{{ subj.slug }}</abbr
        >
      </li>
      {% endfor %}
      <li class="rounded-lg bg-slate-300 p-2">...</li>
    </ul>
  </footer>
</main>
{% endblock %}
