{% extends 'core/base.html' %} {% block head %}
<title>Editor de cursos</title>
<script defer>
  document.addEventListener("alpine:init", () => {
    Alpine.data("dialogs", () => ({
      courseDialog: false,
      subjectDialog: false,
      importDialog: false,
      deleteDialog: false,

      pk: 0,
      name: "",
      slug: "",
      time: "M",
      duration: "",
      coordinator: "",
      info: "",

      clear() {
        this.pk = 0;
        this.courseDialog = true;
        this.name = "";
        this.slug = "";
        this.time = "M";
        this.duration = "";
        this.coordinator = "";
        this.info = "";
      },
    }));
  });
</script>
{% endblock %} {% block content %}
<main class="flex flex-col px-24 py-10" x-data="dialogs">
  <dialog :open="courseDialog" class="w-1/2 rounded-2xl p-6 shadow-lg">
    <form action="{% url 'courses' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="pk" x-model="pk" />
      <h2 class="mb-3 text-xl font-semibold">Criar curso</h2>
      <div class="mb-3 flex items-center gap-2">
        <label for="txt-name">Nome:</label>
        <input
          type="text"
          name="name"
          id="txt-name"
          required
          class="flex-1"
          maxlength="60"
          x-model="name"
        />
      </div>
      <div class="mb-3 flex items-center justify-around gap-2">
        <label for="txt-slug">Código:</label>
        <input
          type="text"
          name="slug"
          id="txt-slug"
          maxlength="2"
          required
          x-model="slug"
        />
        <label for="sl-time">Horário:</label>
        <select name="time" id="sl-time" x-model="time">
          <option value="M" selected>Manhã</option>
          <option value="E">Tarde</option>
          <option value="N">Noite</option>
          <option value="F">Integral</option>
        </select>
        <label for="txt-duration">Duração:</label>
        <input
          type="number"
          name="duration"
          id="txt-duration"
          size="1"
          x-model="duration"
          class="[appearance:textfield]"
        />
      </div>
      <div class="mb-1 flex items-center gap-2">
        <label for="txt-coordinator">Coordenador:</label>
        <input
          type="number"
          name="coordinator"
          id="txt-coordinator"
          x-model="coordinator"
          class="flex-1"
        />
      </div>
      <div class="mb-3 flex flex-col gap-2">
        <label for="txt-info">Informações:</label>
        <textarea
          name="info"
          id="txt-info"
          cols="30"
          rows="4"
          x-model="info"
        ></textarea>
      </div>
      <div class="mt-3 flex gap-2">
        <button @click.prevent="courseDialog = false" class="btn">
          Voltar
        </button>
        <button type="submit" class="btn">Salvar</button>
      </div>
    </form>
  </dialog>
  <dialog :open="subjectDialog" class="rounded-lg shadow-lg">
    <form action="{% url 'create_subject' %}" method="post">
      {% csrf_token %}
      <h2 class="text-xl font-bold">Nova matéria</h2>
      <div class="field">
        <label for="txt-name">Nome</label>
        <input type="text" name="name" id="txt-name" required />
      </div>
      <div class="field">
        <label for="txt-slug">Código</label>
        <input type="text" name="slug" id="txt-slug" required />
      </div>
      <div class="field">
        <label for="txt-desc">Descrição</label>
        <textarea
          name="description"
          id="txt-desc"
          cols="30"
          rows="4"
          maxlength="127"
        ></textarea>
      </div>
      <div class="mt-3 flex gap-2">
        <button @click.prevent="subjectDialog = false" class="btn">
          Voltar
        </button>
        <button
          @click.prevent="() => { subjectDialog = false; importDialog = true }"
          class="btn"
        >
          Importar
        </button>
        <button type="submit" class="btn">Criar</button>
      </div>
    </form>
  </dialog>
  <dialog :open="importDialog" class="rounded-lg shadow-lg">
    <form
      action="{% url 'create_subject' %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <h2 class="text-xl font-bold">Importar matérias</h2>
      <input type="hidden" name="import" />
      <label
        for="file-subj"
        class="btn flex w-max cursor-pointer items-center gap-1"
      >
        <span>Selecionar arquivo</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2.2"
          stroke="currentColor"
          class="h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15m0-3l-3-3m0 0l-3 3m3-3V15"
          />
        </svg>
      </label>
      <input
        type="file"
        name="import_file"
        id="file-subj"
        accept=".xls,.xlsx,.csv"
        @input="readFile"
        hidden
      />
      <div class="mt-3 flex gap-2">
        <button @click.prevent="importDialog = false" class="btn">
          Voltar
        </button>
        <button type="submit" class="btn">Criar</button>
      </div>
    </form>
  </dialog>
  <dialog :open="deleteDialog" class="rounded-2xl p-6 shadow-lg">
    <form
      action="{% url 'delete_course' %}"
      method="post"
      class="flex flex-col items-center gap-3"
    >
      {% csrf_token %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-16 w-16 text-red-500"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
        />
      </svg>
      <p>
        Cuidado! Isso pode <br />
        desalocar turmas e horários.
      </p>
      <input type="hidden" name="pk" x-model="pk" />
      <button
        @click.prevent="deleteDialog = false"
        class="rounded-lg border border-slate-500 p-3"
      >
        Voltar
      </button>
      <button
        type="submit"
        class="rounded-lg border-0 bg-red-500 p-3 text-white"
      >
        Confirmar
      </button>
    </form>
  </dialog>
  <header class="mb-4 flex justify-between">
    <h1 class="mb-4 text-4xl font-semibold">Cursos</h1>
    <div class="flex gap-2">
      <button @click="clear()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-8 w-8"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </button>
      <button class="btn" @click="subjectDialog = true">
        Adicionar matérias
      </button>
    </div>
  </header>
  <section class="flex flex-col gap-6">
    {% if courses %} {% for course in courses %}
    <div
      class="rounded-2xl bg-gray-100 shadow"
      x-data="{ options: false, details: false }"
    >
      <header class="flex justify-between px-6 py-4">
        <div>
          <h2>{{ course.name }} - {{ course.slug }}</h2>
          <span>Turno: {{ course.get_time_display }}</span>
        </div>
        <div>
          <button @click="details = !details">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6 transition-transform"
              :class="details && 'rotate-180'"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </button>
          <button @click="options = !options" class="relative">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"
              />
            </svg>
          </button>
          <div
            x-show="options"
            class="absolute flex flex-col gap-2 rounded-lg border border-slate-400 bg-gray-100 p-3"
            @click.away="() => options = false"
          >
            <button
              class="hover:text-color-dark-orange"
              @click="() => {
                courseDialog = true;
                name = '{{ course.name }}';
                slug = '{{ course.slug }}';
                time = '{{ course.time }}';
                duration = '{{ course.duration }}';
                coordinator = '{{ course.coordinator.pk }}';
                info = '{{ course.info }}';
                pk = '{{ course.pk }}';
                if (info == 'None') info = '';
              }"
            >
              Editar
            </button>
            <button
              class="hover:text-color-dark-orange"
              @click="() => { deleteDialog = true; pk = '{{ course.pk }}'}"
            >
              Excluir
            </button>
          </div>
        </div>
      </header>
      <div
        class="origin-top rounded-b-2xl bg-gray-200 p-5 transition-all"
        :class="details || 'scale-y-0 h-0 py-0'"
      >
        <p>
          Duração: {{ course.duration }} ano{% if course.duration != 1 %}s{% endif %}
        </p>
        <p>Coordenador: {{ course.coordinator }}</p>
        <p>Informações: {{ course.info }}</p>
      </div>
    </div>
    {% endfor %} {% else %}
    <h2 class="font-mono text-2xl font-medium text-slate-500">
      Nenhum curso encontrado :(
    </h2>
    {% endif %}
  </section>
</main>
{% endblock %}
