{% extends 'core/base.html' %}
{% load static %}
{% block head %}
<title>Horários</title>
<link rel="stylesheet" href="{% static 'core/dist/css/schedule.css' %}">
<script defer>
  document.addEventListener("alpine:init", () => {
    Alpine.data("timeTable", () => ({
      time: "{{ classroom.course.time }}"
    }));
  })
</script>
{% endblock %}
{% block content %}
<main class="p-10">
  <h1 class="mb-4 text-4xl font-semibold">Horários - {{ classroom }}</h1>
  <article>
    <table class="table-fixed p-10 bg-slate-300" x-data="timeTable">
      <thead class="bg-transparent">
        <tr>
          <th></th>
          <th>Segunda</th>
          <th>Terça</th>
          <th>Quarta</th>
          <th>Quinta</th>
          <th>Sexta</th>
        </tr>
      </thead>
      <tbody>
        {% for t in time_table %}
        <tr>
          <td>{{ t }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
</main>
{% endblock %}
