{% extends 'core/base.html' %} {% load permission_tags %} {% load static %} {% block head %}
<title>Horários</title>
<link rel="stylesheet" href="{% static 'core/dist/css/schedule.css' %}" />
<script defer>
  // To whoever may optimize this in the future:
  // Remember to go outside and get some fresh air.
  document.addEventListener("alpine:init", () => {
    Alpine.data("timeTable", () => ({
      init() {
        // days monday - friday
        const days = [
          // {% for day in days %}
          "{{ day.1 }}",
          // {% endfor %}
        ];

        // time stamp ex: 13:00
        const times = [
          // {% for t in time_table %}
          "{{ t }}",
          // {% endfor %}
        ];

        // existing programmings to be displayed
        const programmings = [
          //{% for p in programmings %}
          JSON.parse("{{ p.json_str }}".replace(/&quot;/g, '"')),
          // {% endfor %}
        ];

        // find all cells of the calendar
        const cells = document.querySelectorAll("tr > td:not(:first-child)");

        // populate cells
        programmings.forEach((p) => {
          const cell = cells[p.order * 5 + p.day];

          if (this.isTeacher) {
            cell.innerHTML += p.classroom + " - " + p.subjectSlug;
          } else {
            if (cell.innerHTML == "") cell.innerHTML = p.subjectSlug;
            else if (cell.innerHTML != p.subjectSlug)
              cell.innerHTML += " | " + p.subjectSlug;
          }
        });

        // display data to form when click
        cells.forEach((el, i) =>
          el.addEventListener("click", () => {
            this.programmingTime = Math.floor(i / 5);
            this.programmingTimeShow = times[this.programmingTime];
            this.programmingDay = i % 5;
            this.programmingDayShow = days[this.programmingDay];

            // all programmings matching the current cell
            const selected = programmings.filter(
              (p) => p.order == Math.floor(i / 5) && p.day == i % 5
            );

            const empty = selected.length == 0;
            const split = selected.length == 2;

            this.studentGroup = split;
            this.teacher = !empty ? selected[0].teacher : null;
            this.subject = !empty ? selected[0].subjectPk : null;
            this.teacherB = split ? selected[1].teacher : null;
            this.subjectB = split ? selected[1].subjectPk : null;

            if (selected.length > 2) {
              console.warn("More than 2 programmings detected:");
              console.log(selected);
            }
          })
        );
      },

      exclude() {
        const csrfToken = document.cookie.slice(
          document.cookie.indexOf("=") + 1
        );

        fetch("{% url 'fix_schedule' %}", {
          method: "POST",
          headers: { "X-CSRFToken": csrfToken },
          body: JSON.stringify({
            classroom: Number(document.URL.split("/").at(-2)),
            day: this.programmingDay,
            time: this.programmingTime,
          }),
        })
          // .then(res => console.log(res))
          .then((res) => res.redirected && location.replace(res.url));
      },

      programmingTime: 1,
      programmingTimeShow: "",
      programmingDay: 1,
      programmingDayShow: "",
      teacher: "",
      teacherB: "",
      subject: "",
      subjectB: "",
      studentGroup: false,
      locked: "{{ user|has_role:'admin' }}" == "False",
      isTeacher: "{{ user|has_role:'teacher' }}" == "True",
    }));
  });
</script>
{% endblock %} {% block content %}
<main class="p-10" x-data="timeTable">
  <h1 class="mb-4 text-4xl font-semibold text-color-primary">
    Horários {% if user|has_role:'student' %} - {{ classroom }} {% endif %}
  </h1>
  <article class="flex flex-col gap-5 lg:grid md:gap-20" :class="isTeacher || 'grid-cols-2'">
    <table
      class="table-fixed border-separate border-spacing-2 rounded-2xl bg-zinc-300 p-4 overflow-x-scroll"
    >
      <thead class="bg-transparent">
        <tr>
          <th></th>
          {% for day in days %}
          <th class="text-yellow-900 p-1 w-[80px]">{{ day.1 }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for t in time_table %}
        <tr>
          <td
            class="mr-10 rounded-xl bg-color-primary-dimm text-base text-white w-[80px] h-[28px]"
          >
            {{ t }}
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if not user|has_role:'teacher' %}
    <section class="rounded-xl bg-zinc-300 p-5">
      <h2 class="mb-1 ml-1 mt-1 flex justify-between text-2xl font-semibold">
        {% if user|has_role:'admin' %}
        <span>Editar aula</span>
        <button
          @click="exclude()"
          data-tippy-content="Apagar"
          class="hover:text-red-600"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
            />
          </svg>
        </button>
        {% else %} Detalhes {% endif %}
      </h2>
      <form
        action="{% url 'schedules' classroom.pk %}"
        method="post"
        class="flex flex-col justify-end"
      >
        {% csrf_token %}
        <input type="hidden" name="classroom" value="{{ classroom.pk }}" />
        <section class="flex gap-2 p-4">
          <div>
            <label class="text-slate-500" id="txt-day">Dia:</label>
            <input
              type="text"
              readonly
              class="bg-slate-200 text-slate-500"
              id="txt-day"
              size="8"
              maxlength="3"
              required
              x-model="programmingDayShow"
            />
            <input type="number" hidden name="day" x-model="programmingDay" required/>
          </div>
          <div>
            <label class="text-slate-500" id="txt-time">Horário:</label>
            <input
              type="text"
              readonly
              class="bg-slate-200 text-slate-500"
              id="txt-time"
              size="6"
              x-model="programmingTimeShow"
              required
            />
            <input type="number" hidden name="time" x-model="programmingTime" required />
          </div>
        </section>
        <section class="flex flex-col gap-3 rounded-xl bg-zinc-200 p-4">
          <div class="flex">
            <div class="flex flex-col gap-3">
              <div>
                <label
                  for="sl-subject"
                  x-text="`Matéria${studentGroup ? ' A' : ''}:`"
                ></label>
                <select
                  name="subject"
                  id="sl-subject"
                  x-model="subject"
                  :disabled="locked"
                  required
                >
                  {% for subject in subjects %}
                  <option value="{{ subject.pk }}">{{ subject.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div>
                <label
                  for="txt-teacher"
                  x-text="`Professor${studentGroup ? ' A' : ''}:`"
                ></label>
                <input
                  type="text"
                  name="teacher"
                  id="txt-teacher"
                  x-model="teacher"
                  :disabled="locked"
                  required
                />
              </div>
            </div>
            <template x-if="studentGroup != ''">
              <div class="flex flex-col gap-3 overflow-x-hidden">
                <div>
                  <label for="sl-subject">Matéria B:</label>
                  <select
                    name="subject_b"
                    id="sl-subject"
                    x-model="subjectB"
                    :disabled="locked"
                    required
                  >
                    {% for subject in subjects %}
                    <option value="{{ subject.pk }}">{{ subject.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div>
                  <label for="txt-teacher">Professor B:</label>
                  <input
                    type="text"
                    name="teacher_b"
                    id="txt-teacher"
                    x-model="teacherB"
                    :disabled="locked"
                    required
                  />
                </div>
              </div>
            </template>
          </div>
          {% if user|has_role:'admin' %}
          <div class="flex items-center gap-2">
            <label for="ch-group">Divisão de turmas:</label>
            <input
              type="checkbox"
              name="group"
              id="ch-group"
              x-model="studentGroup"
            />
          </div>
          <button type="submit" class="mx-auto px-6 py-2">Salvar</button>
          {% endif %}
        </section>
      </form>
    </section>
    {% endif %}
  </article>
</main>
{% endblock %}
