{% extends 'core/base.html' %} {% load permission_tags %} {% block head %}
<style>
  .feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-between;
  }
</style>
<script defer>
  document.addEventListener("alpine:init", () => {
    Alpine.data("post", () => ({
      seeDialog: false,
      imgUrl: "",
      title: "",
      info: "",
      date: "",

      fill(el) {
        this.seeDialog = true;
        this.imgUrl = el.querySelector("img").src;
        this.title = el.querySelector("#title").textContent.trim();
        this.info = el.querySelector("#info").textContent.trim();
        this.date = el.querySelector("#date").textContent.trim();
      },
    }));
  });
</script>
<title>Comunicados</title>
{% endblock %} {% block content %}
<main
  class="m-8 min-h-full md:mx-20 md:justify-normal"
  x-data="{ createDialog: false, filterDialog: false}"
>
  <header class="flex w-full justify-between text-color-primary">
    <h1 class="text-4xl font-semibold">Comunicados</h1>
    <div class="flex gap-2">
      {% if user|has_role:'admin' %}
      <button @click="createDialog = true" class="text-base">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-8 w-8"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </button>
      {% endif %}
      <button @click="filterDialog = true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-8 w-8"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75"
          />
        </svg>
      </button>
    </div>
  </header>
  <div x-data="post">
    <article class="feed w-full gap-8 pt-14">
      {% for announcement in announcements %}
      <div
        class="cursor-pointer rounded-2xl bg-color-bg text-left shadow-lg"
        @click="fill($el)"
      >
        <img
          class="h-48 w-full rounded-2xl"
          src="{% url 'img' 'announcements' announcement.pk %}"
        />

        <div class="m-5 mt-3">
          <p class="text-right text-xs text-gray-500" id="date">
            {{ announcement.date|date:'d/m/Y' }}
          </p>
          <h2 class="text-base font-bold text-black" id="title">
            {{ announcement.title }} {% if not announcement.published %}
            <span class="text-gray-500">- Em breve</span>
            {% endif %}
          </h2>
          <p id="info" class="hidden">{{ announcement.info }}</p>
        </div>
      </div>
      {% endfor %}
    </article>

    <section x-show="seeDialog" class="dialog-backdrop">
      <div class="dialog no_scroll w-5/6 md:w-[60%]">
        <header>
          <span></span>
          <button
            @click.prevent="seeDialog = false"
            class="text-3xl font-bold text-color-primary"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </header>
        <img
          class="block w-full rounded-2xl object-center md:h-[50vh]"
          :src="imgUrl"
        />
        <p
          class="text-right text-xs font-normal text-gray-500"
          x-text="date"
        ></p>
        <h3 class="text-base font-bold text-color-primary" x-text="title"></h3>
        <p x-text="info"></p>
      </div>
    </section>
  </div>

  <form
    method="post"
    action="{% url 'comunicados' %}"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <section x-show="createDialog" class="dialog-backdrop">
      <div class="dialog no_scroll">
        <header class="px-5 pt-4">
          <h2>Criar Comunicado</h2>
          <div>
            <button
              @click.prevent="createDialog = false"
              class="text-3xl font-bold text-color-primary"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </header>
        <section class="flex flex-col gap-3 px-5">
          <div class="flex flex-col text-lg font-normal">
            <label>Titulo:</label>
            <input type="text" class="h-10" name="title" required />
          </div>
          <div
            class="flex items-center gap-1 text-lg font-normal"
            x-data="{ imageName: 'Foto' }"
          >
            <label>Data de Lançamento:</label>
            <input
              type="date"
              :min="new Date().toISOString().split('T')[0]"
              :value="new Date().toISOString().split('T')[0]"
              name="date"
            />
            <label
              for="file-picture"
              class="btn ml-3 flex w-max cursor-pointer items-center gap-1"
            >
              <span
                class="max-w-[4rem] truncate"
                x-text="imageName ?? 'Foto de perfil'"
              ></span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2.2"
                stroke="currentColor"
                class="h-5 w-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15m0-3l-3-3m0 0l-3 3m3-3V15"
                />
              </svg>
            </label>
            <input
              type="file"
              name="image"
              id="file-picture"
              accept="image/*"
              required
              hidden
              @input="imageName = $el.files[0].name"
            />
          </div>
          <div class="flex h-full flex-col text-lg font-normal">
            <label class="pb-2">Conteúdo:</label>
            <textarea
              class="h-[180px] w-full resize-none"
              placeholder="Digite o Comunicado aqui"
              name="info"
              required
            ></textarea>
          </div>
          <div class="flex items-center gap-1 text-lg font-normal">
            <label>Categoria:</label>
            <select name="category" id="sl-category" required>
              <option value="r">Reunião</option>
              <option value="p">Palestra</option>
              <option value="a">Reposição</option>
              <option value="*">Outros</option>
            </select>
          </div>
          <div class="flex items-center gap-1 text-lg font-normal">
            <label>Apenas para professores:</label>
            <input type="checkbox" name="staff_only" />
          </div>
          <div class="flex flex-col text-lg font-normal">
            <label>Para o curso:</label>
            <input
              type="text"
              class="h-10"
              name="course"
              placeholder="Deixe em branco para um comunicado geral"
            />
          </div>
          <div class="flex flex-col text-lg font-normal">
            <label>Para a turma:</label>
            <input
              type="text"
              class="h-10"
              name="course"
              placeholder="Deixe em branco para um comunicado geral"
            />
          </div>
          <div class="flex justify-center pt-6">
            <button type="submit">Aplicar</button>
          </div>
        </section>
      </div>
    </section>
  </form>

  <form method="get" action="{% url 'comunicados' %}">
    <div x-show="filterDialog" class="dialog-backdrop">
      <div class="dialog">
        <header
          class="mt-4 flex flex-row justify-between px-5 text-3xl font-bold"
        >
          <h2>Filtrar Comunicado</h2>
          <button
            @click.prevent="filterDialog = false"
            class="text-3xl font-bold text-color-primary"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </header>
        <section class="flex flex-col gap-4 p-5">
          <input
            type="search"
            name="title"
            class="mx-auto w-full rounded-lg border border-color-primary bg-gray-50 text-sm text-gray-900"
          />
          <div class="flex flex-row justify-between gap-2 text-lg font-normal">
            <label>
              De:
              <input
                type="date"
                name="start-date"
                class="rounded-3xl border-color-primary"
            /></label>
            <label>
              Até:
              <input
                type="date"
                name="end-date"
                class="rounded-3xl border-color-primary"
            /></label>
          </div>

          <label>
            <input type="checkbox" name="r" />
            Reuniões
          </label>
          <label>
            <input type="checkbox" name="p" />
            Palestras
          </label>
          <label>
            <input type="checkbox" name="a" />
            Reposições
          </label>
          <label>
            <input type="checkbox" name="*" />
            Outros
          </label>
          <div class="flex flex-row justify-center space-x-5 pt-4 text-lg">
            <button type="reset" class="alt">Limpar</button>
            <button type="submit">Aplicar</button>
          </div>
        </section>
      </div>
    </div>
  </form>
</main>

{% endblock %}
